// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";


@import "components/header";

@import "components/workarea";


ymaps[class$="-copyright"] {
    display: none;
}

body.fixed {
    overflow: hidden;
}

.btn{
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	background: linear-gradient(180deg, #FF9900 0%, #FF6B00 100%);
	box-shadow: 0px 7px 14px rgba(171, 90, 15, 0.3), inset 0px 2px 24px rgba(255, 206, 111, 0.6);
	border-radius: 8px;
	padding: 11px 25px;
}

.layout{
  	flex: 1 0 auto;
  	background: #E5E5E5;
  	position: relative;
  	    padding-top: 169px;
}
.layout--white-sqheme{
	background: #fff;
	&:before{
		content: "";
		height: 450px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	    background: linear-gradient(180deg, #DCFBFF 0%, rgba(255, 255, 255, 0) 100%);
	}
}

.layout--full{
	.page-content{
		>.container-fluid{
			max-width: 1360px;
		}
	}
}



.container-fluid{
	max-width: 1360px;
	position: relative;
	width: 100%;
}

.page-content{
	padding-bottom: 90px;
	>.container-fluid{
		max-width: 1088px;
		// padding: 0 32px;
		// background: #fff;
	}
}

.breadcumbs{
	margin-bottom: 20px;
}

.breadcumbs__wrap{
	display: flex;
	flex-wrap:wrap;
	font-size: 16px;
	align-items:center;
}

.breadcumbs__item{
	color: #0A9DDC;
	margin-bottom: 18px;

}
a.breadcumbs__item{
	transition:color 0.3s ease;
	&:hover{
		color: #056493;
	}
}

a.breadcumbs__item:after{
	content: "";
	width: 4px;
	height: 4px;
	background: #FF7700;
	margin: 0 24px;
	display: inline-block;
	border-radius: 50%;
	transform: translateY(-3px);

}

.video-item{
	margin-bottom: 25px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&+.caption{
		padding-top: 0;
		margin-top: -10px;
	}
}

.caption{
	padding-top: 10px;
}

.video-link{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 112px;
	height: 112px;
	display: inline-block;
	background: url(../img/svg/video.svg) no-repeat;
	z-index: 2;
}


.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}


.fancybox-container{
	z-index: 20;
}


.slick-arrow{
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 76px;
	height: 76px;
	margin-top: -38px;
	padding: 0;
	z-index: 3;
	border:0;
	text-indent: -9999em;
	background: #FFFFFF;
	box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}
.slick-prev{
	left: -20px;
	background: #fff url(../img/svg/prev.svg) center no-repeat;
}
.slick-next{
	right: -20px;
	background: #fff url(../img/svg/next.svg) center no-repeat;
}
.slick-dots{
	margin-bottom: 0!important;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	li{
		line-height: 1!important;
		padding: 0!important;
		margin: 0;
		margin-bottom: 0!important;
		border:0;
		margin-right: 12px;
		text-indent: -9999em;
		width:4px!important;
		height: 4px!important;
		border-radius: 50%;
		background: #0A9DDC;
		border: 2px solid transparent;
		    box-sizing: content-box;
		    cursor: pointer;
		button{
			display: none;
		}
		&:last-child{
			margin-right: 0;
		}
		&:before{
			display: none;
		}
		&.slick-active{
			background: #fff;
			border:4px solid #FF7700;
			width:8px!important;
			height: 8px!important;
		}
	}
}


//PAGES
@import "pages/speaker";

@import "pages/course";




@import "components/footer";




@import "components/media";





