// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";


@import "components/header";

@import "components/workarea";


ymaps[class$="-copyright"] {
    display: none;
}

body.fixed {
    overflow: hidden;
}

.btn{
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	background: linear-gradient(180deg, #FF9900 0%, #FF6B00 100%);
	box-shadow: 0px 7px 14px rgba(171, 90, 15, 0.3), inset 0px 2px 24px rgba(255, 206, 111, 0.6);
	border-radius: 8px;
	padding: 11px 25px;
	border: 0; 
}
.btn-alt{
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	background: rgba(255, 255, 255, 0.4);
	//border: 2px solid #fff;
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 8px;
	padding: 11px 25px;
}
.dnone{
	height: 0;
	overflow: hidden;
}

.white-sqheme{
	background: #fff;
}

.grey-sqheme{
	background: #F4F5F5;
}

.blue-sqheme{
	background: #DCFBFF;
}

.layout{
  	flex: 1 0 auto;
  	background: #F4F5F5;
  	position: relative;
  	    overflow-x: hidden;
}
.layout--white-sqheme{
	background: #fff;
	&:before{
		content: "";
		height: 450px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	    background: linear-gradient(180deg, #DCFBFF 0%, rgba(255, 255, 255, 0) 100%);
	}
}

.layout--grey-sqheme{
	background: #F4F5F5;
	&:before{
		content: "";
		height: 450px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	    background: linear-gradient(180deg, #DCFBFF 0%, rgba(255, 255, 255, 0) 100%);
	}
}


.layout--full{
	.page-content{
		>.container-fluid{
			max-width: 1342px;
			padding-right: 16px;
    		padding-left: 16px;
		}
	}
	.page-title,
	.breadcumbs{
		.container-fluid{
			max-width: 1342px;
			padding-right: 16px;
    		padding-left: 16px;
		}
	}
}

.layout--page{
	.top-nav_link,
	.office-link{
		color: #fff;
	}
	.office-link{
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		background: rgba(255, 255, 255, 0.1);
	}
	// .phone-link{
	// 	background: rgba(255, 255, 255, 0.1);
	// }
	.page-content{
		padding: 0;
	}
	&.layout--white-sqheme{
		&:before{
			display: none;
		}
	}
	.page-top{
		.container-fluid{
			max-width: 1088px;
			padding: 0;
		}
	}
	&.layout--full{
		.page-top{
			.container-fluid{
				max-width: 1342px;
				padding: 0 16px;
			}
		}
	}
}

.layout--reviews{
	&:after{
		content: "";
		display: block;
		height: 700px;
		width: 100%;
		background: linear-gradient(180deg, #DCFBFF 0%, rgba(255, 255, 255, 0) 100%);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
	.page-content,
	.page-top{
		z-index: 2;
	}
}

.layout--index{
	.page-title{
		text-align: center;
		margin: 0 auto;
	}
	.page-top__add {
	    max-width: 1088px;
	    text-align: center;
	       margin: 0 auto 26px;
	}
	.page-content > .container-fluid{
		max-width: 100%;
		padding: 0;
	}
	.page-top{
		padding-bottom: 25px;
		.page-title {
		    margin-bottom: 37px;
		}
	}
}

.container-fluid{
	max-width: 1342px;
	position: relative;
	width: 100%;
}

.page-content{
	padding: 160px 0 90px;
	position: relative;
	>.container-fluid{
		max-width: 1088px;
		padding: 0;
		position: static;
	}
	&+.consultation{
		    margin-top: -85px;
	}
	&+.consultation--speakers{
		    margin-top: -31px;
	}
	.consultation{
		padding-top: 55px;
	}
	.consultation__inner {
	    padding: 25px 310px 33px 32px;
	}
	.consultation__icon {
	    right: -29px;
	}
	.subscription__wrap {
	    padding: 98px 0;
	}
}
.page-title,
.breadcumbs{
	.container-fluid{
		max-width: 1088px;
		padding: 0;
	}
}

.slick-slider{
	z-index: 1;
}
.checkbox-item{
	position: relative;
	z-index: 1;
}

.breadcumbs{
	margin-bottom: 31px;
	&+.page-title{
		margin-top: -31px;
	}
}

.breadcumbs__wrap{
	display: flex;
	flex-wrap:wrap;
	font-size: 16px;
	align-items:center;
}

.breadcumbs__item{
	color: #0A9DDC;
	margin-bottom: 9px;
	opacity: 0.4;

}
a.breadcumbs__item{
	transition:color 0.3s ease;
	opacity: 1;
	&:hover{
		color: #056493;
	}
}

a.breadcumbs__item:after{
	content: "";
	width: 4px;
	height: 4px;
	background: #FF7700;
	margin: 0 24px;
	display: inline-block;
	border-radius: 50%;
	transform: translateY(-3px);

}


.page-title{
	margin-bottom: 40px;
	    max-width: 980px;
	h1{
		margin: 0;
		margin-bottom: 25px;
		font-weight: 800;
		font-size: 48px;
		line-height: 1.2;
	}
}

.video-item{
	margin-bottom: 25px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 280px;
	&+.caption{
		padding-top: 0;
		margin-top: -10px;
	}
}

.caption{
	padding-top: 10px;
}

.video-link{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 112px;
	height: 112px;
	display: inline-block;
	background: url(../img/svg/video.svg) no-repeat;
	z-index: 2;
}


.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}


.fancybox-container{
	z-index: 20;
}


.slick-arrow{
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 76px;
	height: 76px;
	margin-top: -38px;
	padding: 0;
	z-index: 3;
	border:0;
	text-indent: -9999em;
	background: #FFFFFF;
	box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}
.slick-prev{
	left: -20px;
	background: #fff url(../img/svg/prev.svg) 23px center no-repeat;
}
.slick-next{
	right: -20px;
	background: #fff url(../img/svg/next.svg) 31px center no-repeat;
}
.slick-dots{
	margin-bottom: 0!important;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	li{
		line-height: 1!important;
		padding: 0!important;
		margin: 0;
		margin-bottom: 0!important;
		border:0;
		margin-right: 17px;
		text-indent: -9999em;
		width:4px!important;
		height: 4px!important;
		border-radius: 50%;
		background: #0A9DDC;
		border: 2px solid transparent;
		    box-sizing: content-box;
		    cursor: pointer;
		button{
			display: none;
		}
		&:last-child{
			margin-right: 0;
		}
		&:before{
			display: none;
		}
		&.slick-active{
			background: #fff;
			border:2px solid #FF7700;
			    transform: scale(2);
		}
	}
}




.accordeon{
	
}

.accordeon__item{
	position: relative;
	background: #fff;
	border-top: 2px solid #F4F5F5;
	//padding: 24px 0;
	// &:last-child{
	// 	border-bottom: 2px solid #F4F5F5;
	// }
	&.active{
		.accordeon__link{
			//color: #0088CC;
			&:after{
				transform:rotate(180deg);
				//background: url(../img/svg/faq_select_arrow-h.svg) center no-repeat;		
				//background-size: cover;
			}
		}
	}
	&:last-child{
		border-bottom: 2px solid #F4F5F5;
	}
}

.accordeon__info{
	display: none;
    // padding: 14px 40px 14px 16px;
    position: relative;
    //font-size: 17px;
    // p{
    // 	margin-bottom: 16px;
    // 	&:last-child{
    // 		margin-bottom: 0;
    // 	}
    // }
}

.accordeon__link{
	display: block;
	// padding: 24px 30px 24px 0px;
	font-size: 24px;
	line-height: 1.2;
	padding: 26px 60px 26px 0px;
	color: #0A9DDC;
	position: relative;
	&:after{
		content: "";
		// width: 15px;
		// height: 9px;
		background: url(../img/svg/faq_select_arrow.svg) center no-repeat;	
		background-size: cover;
		position: absolute;
		right: 8px;
    	// top: 38px;
		transition:all 0.3s ease;
		width: 22px;
	    height: 13px;
	    top: 36px;
	}
}


// .accordeon__link {
	
// 	&:after{
		
// 	}
// }


.subscription{
    background: #fff;
        padding: 96px 0;
    h2{
    	margin: 0;
		font-weight: 800;
		line-height: 1.2;
    	font-size: 48px;
    	margin-bottom: 20px;
    }
    .checkbox-item{
		max-width: 530px;
		margin: 0 auto 36px;
		text-align: left;
		    position: relative;
    	left: 32px;
	}
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		position: relative;
		cursor: pointer;
		padding-left: 30px;
		line-height: 20px;
		display: inline-block;
		font-size: 16px;
	}

	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0px;
		top: -1px;
		height: 20px;
		width: 20px;
		border: 2px solid #0A9DDC;
		cursor: pointer;
		z-index: 5;
	}
	input[type="checkbox"]:checked+ label:before{
		// background: #BBEE2A;
		// border: 2px solid #BBEE2A;
	}
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
		content: '';
		background: url('../img/svg/check.svg') center no-repeat;
		width: 23px;
		height: 19px;
		display: inline-block;
		position: absolute;
		top: -2px;
		left: 1px;
		z-index: 10;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	 	opacity: 0;
	}
	input[type="checkbox"]:checked + label:after {
	    opacity: 1;
	}
	.socials{
		margin: 0 auto 26px;
	}
	.socials__item{
		width: 40px;
		height: 40px;
	}
	&+.about{
		padding-top: 0;
	}
}

.subscription__wrap{
    background: linear-gradient(207.5deg, #DCFBFF 0%, #FFFFFF 100%);
        padding: 52px 0 98px;
    text-align: center;
}


.subscription__add{
    max-width: 724px;
    line-height: 1.35;
    margin: 0px auto 48px;
    font-size: 24px;
}

.subscription-form{
	max-width: 466px;
	margin: 0 auto 26px;
	position: relative;
	.btn{
		font-size: 16px;
		position: absolute;
		right: 0;
		top: 0;
		padding: 14px 18px;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"]{
		background: #fff;
		border: 2px solid #BCE9F8;
		padding: 10px 156px 10px 10px;
		width: 100%;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	label{
		line-height: 1.4;
	}

}

.socials{
	display: flex;
	justify-content:center;
}
.socials__item{
	margin-right: 24px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: contain!important;
	&:last-child{
		margin-right: 0;
	}
	&.fb{
		background: url(../img/svg/fb.svg) no-repeat;
	}
	&.inst{
		background: url(../img/svg/inst.svg) no-repeat;
	}
	&.vk{
		background: url(../img/svg/vk.svg) no-repeat;
	}
	&.youtube{
		background: url(../img/svg/youtube.svg) no-repeat;
	}
}

.subscription__more{
    max-width: 440px;
    margin: 0 auto;
    line-height: 1.3;
    font-size: 16px;
}

.speaker-list{
	display: flex;
	flex-wrap:wrap;
	    margin-right: -24px;
    margin-left: -8px;
}

.speaker-list__item{
	width: 25%;
	padding-right: 16px;
	margin-bottom: 18px;
	&:hover{
		.speaker-list__inner{
			background: #fff;
			box-shadow: 0px 3px 14px rgba(131, 186, 193, 0.5);
		}
		.speaker-list__title{
			color: #0A9DDC;
		}
	}
}

.speaker-list__inner{
	height: 100%;
	padding: 8px 8px 16px;
	background: transparent;
	transition: background 0.3s ease, box-shadow 0.3s ease;
}

.speaker-list__img{
	display: block;
	width: 100%;
	height: 248px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 17px;
}

.speaker-list__title{
	display: block;
	margin-bottom: 8px;
	color: #000;
	font-weight: 800;
	line-height: 1.3;
	transition: all 0.3s ease;
}

.speaker-list__info{
	color: #3C3C3C;
	opacity: 0.6;
	font-size: 16px;
	    line-height: 1.38;
}

.speaker-filter{
	display: flex;
	margin-bottom: 25px;
	font-size: 16px;
	align-items: center;
}

.speaker-filter__count{
	margin-right: 5px;
}

.speaker-filter__links{
	margin-left: 14px;
	border: 2px solid #fff;
	display: flex;
	border-radius: 8px;
	ul{
		margin-bottom: 0;
		display: flex;
		li{
			padding-left: 0;
			line-height: inherit;
			margin-bottom: 0;
			&:before{
				display: none;
			}
		}
	}
}

.speaker-filter__link{
	padding: 4px 14px;
	border-radius: 8px;
	position: relative;
	color: #0A9DDC;
	    display: block;
	&.active{
		background: #fff;
		color: #000;
		pointer-events: none;
		box-shadow: 0px 3px 14px rgba(131, 186, 193, 0.5);
	}
}

.speaker-list-horizontal{
	padding-top: 9px;
}
.speaker-list-horizontal__item{
	display: flex;
	background: #fff;
	margin: 16px 0 55px 16px;
	padding-bottom: 15px;
	&:last-child{
		margin-bottom: 0;
	}
}

.speaker-list-horizontal-img{
	// flex-basis: 400px;
	max-width: 400px;
	min-width: 400px;
	height: 300px;
	position: relative;
	box-shadow: 0px 7px 48px #D0D0D0;
	margin: -16px 0 0 -16px;
	overflow: hidden;
	&:hover{
		.speaker-list-horizontal-img__inner{
			transform: scale(1.1);
		}		
	}
}
.speaker-list-horizontal-img__inner{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: transform 0.3s ease;
}

.speaker-list-horizontal__info{
	margin-left: 49px;
	padding: 25px 24px 24px 0; 
	font-size: 16px;

}

.speaker-list-horizontal__title{
	font-size: 32px;
	line-height: 1.2;
	margin-bottom: 10px;
	font-weight: 800;
	color: #000;
	display: block;
	transition:all 0.3s ease;
	&:hover{
		color: #0A9DDC;
	}
}
.speaker-list-horizontal__position{
	color: #FF7700;
	font-size: 16px;
	margin-bottom: 14px;
}


.speaker-list-horizontal__txt{
	margin-bottom: 26px;
	p{
		margin-bottom: 11px;
		line-height: 1.35;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.speaker-list-horizontal__courses{
	line-height: 1.35;
	h5{
		margin-bottom: 13px;
	}
}


.center-photo{
	position: relative;
	    padding-bottom: 50px;
    margin-bottom: 40px;
	h2{
		position: relative;
		z-index: 2;
		margin-bottom: 60px;
	}
	&:before{
		content: "";
		display: block;
		width: 565px;
		height: 565px;
		background: #DCFBFF;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		transform: translate(-50%,-50%);
		top: 50%;
	}
}



.contact{
	display: flex;
	margin-bottom: 87px;
	position: relative;
	z-index: 3;
	.socials {
	    justify-content: flex-start;
	    flex-wrap:wrap;
	}
	.socials__item{
		margin-right: 19px;
		width: 32px;
    	height: 32px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.socials__title{
	min-width: 100%;
	    margin-bottom: 10px;
}

.contact__items{
	display: flex;
	margin-right: -140px;
}
.contact__item{
	width: 50%;
	padding-right: 140px;
}

.contact__img{
	width: 304px;
	height: 304px;
	box-shadow: 0px 5.62137px 38.5466px #B8BDBD;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 22px;
}

.contact__title{
	font-weight: 800;
	font-size: 24px;
}
.contact__position{
	line-height: 1.2;
	margin-bottom: 28px;
}

.contact__mail{
	color: #0A9DDC;
}

.contact-phones{
    margin-bottom: 15px;
    line-height: 1.2;
}
.contact-phones__link{
    display: block;
    color: #3C3C3C;
    font-weight: 800;
    margin-bottom: 7px;
	&:last-child{
		margin-bottom: 0;
	}
}


.contact-information{
	width: 416px;
	margin-left: 145px;
	line-height: 1.2;
}

.contact-information__address{
	margin-bottom: 34px;
	line-height: 1.3;
}

.contact-information__phone{
	margin-bottom: 28px;
	a{
		font-weight: 800;
		color: #3C3C3C;
	}
}


.contact-information-timetable{
	display: flex;
	margin-bottom: 27px;
}
.contact-information-timetable__item{
	margin-right: 39px;
	&:last-child{
		margin-right: 0;
	}
}

.timetable-days{
	margin-bottom: 16px;
	&.timetable-days--work{
		.timetable-days__item{
			background: #95C92F;
		}
		.timetable-days__top{
			display: flex;
			justify-content: space-between;
			position: relative;
			span{
				margin-right: 0;
			}
			&:before{
				content: "";
				display: block;
				background: #C4C4C4;
				height: 1px;
				width: calc(100% - 70px);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	&.timetable-days--weekand{
		.timetable-days__item{
			background: url(../img/content/weekand.png) center/contain no-repeat;
		}
	}
}

.timetable-days__list{
	display: flex;
}
.timetable-days__item{
	width: 16px;
	height: 16px;
	margin-right: 16px;
	&:last-child{
		margin-right: 0;
	}
}
.timetable-days__top{
	margin-bottom: 10px;
	span{
		margin-right: 5px;
		color: #3C3C3C;
	}
}
.contact-information-timetable__time{
	font-size: 16px;
	span{
		font-weight: 800;
		display: block;
		margin-bottom: 5px;
	}
}


.requisites{
	padding: 106px 0 79px;
	background: linear-gradient(201.84deg, #DCFBFF 0%, #FFFFFF 100%);
	h2{
		margin: 0;
		margin-bottom: 25px;
		font-weight: 800;
		font-size: 40px;
		line-height: 1.2;
	}
}
.requisites__list{
	display: flex;
	flex-wrap:wrap;
}

.requisites__item{
	width: 50%;
	padding-right: 100px;
}

.requisites__title{
	font-weight: 800;
	margin-bottom: 20px;
}

.requisites-phones{
	margin: 37px 0;
}

.requisites-phones__link{
	display: block;
	font-weight: 800;
	color: #000;
	margin-bottom: 10px;
}

.requisites-phones__mail{
	color: #0A9DDC;
}

.consultation{
	line-height: 1.2;
	padding: 70px 0 100px;
	h2{
		color: #FF7700;
		margin: 0;
		margin-bottom: 39px;
		font-weight: 800;
		font-size: 40px;
		line-height: 1.2;
	}
	h3{
		color: #FF7700;
	}
	.btn{
		padding: 14px 24px;
		font-size: 18px;
	}
	p{
		line-height: 1.3;
	    margin-bottom: 28px;
	    max-width: 730px;
	}
	&+.subscription{
		padding-top: 0;
	}
}

.consultation--contacts{
	padding-bottom: 35px;
}

.consultation--speakers{
	padding: 0;
}

.consultation--404{
	    padding: 74px 0 64px;
	.consultation__inner {
	    padding: 40px 74px;
	}
	.consultation__icon {
	    top: -94px;
	}
}
.consultation__inner{
	padding: 32px 112px 37px 112px;
	position: relative;
	&:after{
		content: "";
		display: block;

	}
}
.consultation__icon{
	position: absolute;
	    right: 58px;
    top: -130px;
	img{
		max-width: 100%;
		display: block;
	}
}

.consultation__msg{
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 20px;
}

.consultation--corp{
	padding-bottom: 0;
	margin-top: 0!important;
	.consultation__inner {
	    padding: 32px 109px 37px 71px;
	}
	h2{
		margin-bottom: 19px;
	}
}

.contacts-address{
padding: 35px 0 0;
}

.contacts-address__wrap{
	display: flex;
	flex-wrap:wrap;
	padding-top: 8px;
}

.contacts-address__item{
	width: 50%;
	line-height: 1.4;
	font-size: 16px;
	h4{
		position: relative;
		z-index: 1;
	}
	.video-item{
		height: 240px;
		min-height: 240px;
		margin-top: 33px;
		box-shadow: 0px 5.62137px 38.5466px #B8BDBD;
	}
	&:first-child{
		padding-right: 120px;
	}
	&:last-child{
		.contacts-address__icon{
			    padding-left: 47px;
    			padding-top: 15px;
		}
	}
}

.contacts-address__icon{
	height: 120px;
	display: flex;
	align-items: center;
	padding-left: 29px;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 184px;
		height: 184px;
		border-radius: 50%;
		position: absolute;
		    top: 13px;
    	left: -30px;
		background: linear-gradient(224.96deg, #DCFBFF 0%, #FFFFFF 100%);
	}
	img{
		max-height: 100%;
		display: block;
		position: relative;
		z-index: 1;
	}
}


.contacts-address__inner{
	position: relative;
	z-index: 1;
}



.contacts-address__map{
	position: relative;
	height: 445px;
	box-shadow: 0px 5.62137px 38.5466px #B8BDBD;
	#contacts-map{
		left: 0;
		bottom: 0;
		width: 100%;
	}
}


.page-top{
	padding: 170px 0 50px;
	position: relative;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    &:before {
	    content: "";
	    display: block;
	    pointer-events: none;
	    width: 100%;
	    height: 100%;
	    background: linear-gradient(180deg, #231F21 0%, rgba(35, 31, 32, 0) 100%);
	    opacity: 0.5;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	a.breadcumbs__item{
		color: #FF7700;
		&:after{
			background: #fff;
			opacity: 0.1;
		}
	}
	.breadcumbs__item{
		color: #fff;
	}
	.page-title {
	    margin-bottom: 22px;
	    h1{
	    	margin-bottom: 20px;
	    }
	}
	
}
.page-top__add{
	font-size: 16px;
	max-width: 752px;
}
.page-top__add--lg{
	padding-bottom: 127px;
}
.reviews-top{
	padding: 48px 0 90px;
	display: flex;
	flex-wrap:wrap;
}
.reviews-top__item{
	width: 50%;
}

.reviews-top__info {
    padding-left: 128px;
    line-height: 1.35;
    h5{
    	line-height: 1.35;
    	margin-bottom: 17px;
    }
}

.reviews-top-slider{
	box-shadow: 0px 7px 48px #B8BDBD;
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		margin-top: -39px;
	}
	.slick-dots {
	    position: absolute;
	    bottom: -40px;
	}
	.slick-slide{
		>div{
			height: 300px;
		}
	}
}

.reviews-top-slider__item{
	//box-shadow: 0px 7px 48px #B8BDBD;
	.video-item{
		margin-bottom: 0;
		height: 300px;
		//box-shadow: 0px 7px 48px #B8BDBD;
	}
}

.more-reviews{
	background: #F4F5F5;
	position: relative;
	padding: 103px 0 52px;
	&:before,&:after{
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		top: 0;
		position: absolute;
		background: #F4F5F5;
	}
	&:before{
		left: 100%;
	}
	&:after{
		right: 100%;
	}
	h2{
		margin-bottom: 42px;
	}
}

.more-reviews__wrap{
	display: flex;
	flex-wrap: wrap;
	margin-right: -32px;
}
.more-reviews__item{
	padding-right: 32px;
	width: 50%;
	margin-bottom: 32px;
	line-height: 1.3;
	h4{
		margin-bottom: 36px;
		line-height: 1.3;
	}
}
.more-reviews__in{
	background: #fff;
	height: 100%;
	padding: 34px 32px;
}

.more-reviews__link{
	display: block;
	color: #0A9DDC;
	margin-bottom: 20px;
	&:last-child{
		margin-bottom: 0;
	}
}



.reviews{
	    padding: 22px 0;
}
.reviews-video{
	padding: 23px 0 40px;
	.video-item{
		min-height: 190px;
		height: 190px;
		box-shadow: 0px 6px 14px #B8BDBD;
	}
}

.reviews-video__slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		margin-top: -57px;
	}
	.slick-list{
		margin: 0 -17px;
	}
}
.reviews-video__item{
	padding: 0 17px;
}



.reviews__wrap{
	display: flex;
	flex-wrap:wrap;
	margin-right: -32px;
}
.reviews__item{
	margin-bottom: 40px;
	width: 50%;
	padding-right: 32px;
}

.reviews__top{
	display: flex;
	// position: relative;
	// z-index: 1;
}
.reviews__icon {
    width: 136px;
    min-width: 136px;
    height: 136px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 26px;
    box-shadow: 0px 5.62137px 38.5466px rgba(60, 60, 60, 0.3);
    position: relative;
    z-index: 5;
}

.reviews__info{
	line-height: 1.2;
	font-size: 16px;
	padding: 9px 0 35px;
	position: relative;
}
.reviews__title{
	font-weight: 800;
	margin-bottom: 10px;
}

.reviews__pos{
	margin-bottom: 13px;
}
.reviews__place{
	opacity: 0.4;
}


.stars{
	display: flex;
	margin-right: 10px;
}
.reviews__rating{
	display: flex;
	color: #FF7700;
	font-weight: 800;
	position: absolute;
	bottom: 9px;
	left: 0;
}
.stars__item{
	width: 16px;
	height: 16px;
	margin-right: 2px;
	&:last-child{
		margin-right: 0;
	}
}

.stars__item--full{
	background: url(../img/svg/star.svg) no-repeat;
}

.reviews__msg{
    line-height: 1.35;
    font-size: 16px;
    padding: 24px;
    background: #fff;
    border: 2px solid #FF7700;
    margin-top: 7px;
    min-height: 158px;
    position: relative;
    &:before{
    	content: "";
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 0px 20px 32px;
	    border-color: transparent transparent #FF7700 transparent;
	    position: absolute;
	    left: 15px;
	    bottom: 100%;
	    z-index: 1;
    }
    &:after{
		content: "";
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 0px 17px 26px;
	    border-color: transparent transparent #ffffff transparent;
	    position: absolute;
	    left: 19px;
	    bottom: 100%;
	    z-index: 2;
    }
}


.reviews-more{
	overflow: hidden;
	display: flex;
	justify-content: center;
	padding: 38px 0 0;
}

.reviews-more__link{
	color: #0A9DDC;
	position: relative;
	&:before{
		content: "";
		display: block;
		position: absolute;
		left: calc(100% + 8px);
		top: 50%;
		height: 1px;
		// width: 100%;
		width: 1000px;
		background: #D5DCDC;
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		right: calc(100% + 8px);
		top: 50%;
		height: 1px;
		// width: 100%;
		width: 1000px;
		background: #D5DCDC;
	}
}
.reviews-more__icon{
	display: inline-block;
	width: 24px;
	height: 19px;
	position: absolute;
	bottom: calc(100% + 5px);
	left: 50%;
	transform: translateX(-50%);
	background: url(../img/svg/more-link.svg) center/contain no-repeat;
}


.reviews-slider-wrap{
	margin-bottom: 10px;
	h4{
		max-width: 640px;
	}
	&+.more-reviews{
		    margin-top: 57px;
	}
}

.reviews-slider{
	display: none;
	    padding: 18px 82px 0;
	&.slick-initialized{
		display: block;
	}
	.reviews__icon{
		box-shadow: none;
	}
	.slick-arrow {
	    width: 22px;
	    height: 40px;
	    border-radius: 0;
	    box-shadow: none;
	    top: 69px;
	    margin-top: 0;
	}
	.slick-prev {
		left: 0;
	    background: url(../img/svg/prev.svg) center no-repeat;
	}
	.slick-next {
		right: 0;
	    background: url(../img/svg/next.svg) center no-repeat;
	}
}


.methods{
	padding-bottom: 98px;
	padding-top: 100px;
	position: relative;
	.accordeon__item {
	    padding: 0 35px 0 49px;
	    &:first-child{
	    	border-top: 0;
	    }
	}
	.accordeon__info {
	    padding-bottom: 32px;
	}
	h2{
		margin-bottom: 34px;
		position: relative;
	}
}

.methods__icon{
    position: absolute;
    right: 30px;
    top: -40px;
	img{
		display: block;
		position: relative;
		z-index: 1;
	}
	&:before{
		content: "";
		display: block;
		width: 184px;
		height: 184px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		top: 15px;
    	left: -2px;
	}
}

.methods__add{
	max-width: 640px;
	line-height: 1.35;
	margin-bottom: 49px;
}

.methods__item{
	margin-bottom: 8px;
	    background: #fff;
    padding: 32px 48px;
    font-size: 16px;
    &+.methods__accord{
    	margin-top: 44px;
    }
   
	&:last-child{
		margin-bottom: 0;

	}
	.who__title {
	    font-size: 16px;
	        line-height: 1.35;
	        margin-bottom: 16px;
	            min-height: 3.95em;
	}
	.who__icon:before {
	    width: 136px;
	    height: 136px;
	    background: #DCFBFF;
	}
	.who__item{
		padding: 0 80px 0 0;
		position: relative;
		color: #000;
		&:after{
	    	content: "";
	    	display: block;
	    	width: 136px;
	    	height: 31px;
	    	background: url(../img/svg/m-arr.svg) center/contain no-repeat;
	    	position: absolute;
			top: 22px;
			right: 25px;
	    }
	    &:last-child{
	    	&:after{
				display: none;
			}
	    }
	}
	.who__list{
		margin: 0 -80px 0 0;
	}
	.who__icon{
		min-height: 132px;
	    padding-left: 7px;
	    margin-bottom: -38px;
	    &:before{
			left: -23px;
			top: 40px;
	    }
	}
	.who__item--double{
		&:after{
			display: none;
		}
		.who__item--double__item{
			&:first-child{
				&:after{
					content: "";
				    display: block;
				    width: 136px;
				    height: 31px;
				    background: url(../img/svg/m-arr.svg) center/contain no-repeat;
				    position: absolute;
					top: 103px;
					right: -80px;
					transform: rotate(30deg);
				}
			}
			&:nth-child(2){
				&:after{
					content: "";
				    display: block;
				    width: 136px;
				    height: 31px;
				    background: url(../img/svg/m-arr.svg) center/contain no-repeat;
				    position: absolute;
					top: -30px;
					right: -35px;
					transform: rotate(-20deg);
				}
			}
		}
	}
	.who__item--prev{
		&:after{
			content: "";
		    display: block;
		    width: 136px;
		    height: 31px;
		    background: url(../img/svg/m-arr.svg) center/contain no-repeat;
		    position: absolute;
			    top: -24px;
    		right: 43px;
			transform: rotate(-30deg);
		}
		&:before{
			content: "";
		    display: block;
		    width: 136px;
		    height: 31px;
		    background: url(../img/svg/m-arr.svg) center/contain no-repeat;
		    position: absolute;
			top: 98px;
    		right: 0px;
			transform: rotate(30deg);
		}
	}
}

.who__item--double__item{
	position: relative;
}

.who__add{
    border-top: 2px solid #F4F5F5;
    padding-top: 22px;
    line-height: 1.35;
    margin-top: 25px;
    font-size: 18px;
    p{
    	&:last-child{
    		margin-bottom: 0;
    	}
    }
}

.contract{
    background: #fff;
    padding: 51px 26px 48px 48px;
    margin-top: -56px;
}

.contract__top{
	display: flex;
	align-items: flex-start;
	    margin-bottom: 20px;
}

.contract__info{
	flex:1;
	padding-right: 132px;
}
.contract-download{
	width: 280px;
    min-width: 280px;
    display: flex;
    justify-content: center;
}
.contract-download__in{
	border: 1px solid #E8E8E8;
	padding: 40px 35px;
}

.contract-download__icon{
	text-align: center;
	img{
		display: inline-block;
	}
}

.contract-download__link{
	color: #0A9DDC;
}

.contract-add{
	height: 100px;
    overflow: hidden;
    position: relative;
    &:after{
    	content: "";
    	display: block;
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	height: 100%;
    	width: 100%;
    	box-shadow: inset 0px -100px 105px 0px white;
    }
    &.active{
    	height: auto;
    	&:after{
    		display: none;
    	}
    }
}

.contract-add-show {
    display: block;
    background: #F4F5F5;
    padding: 4px;
    color: #0A9DDC;
    text-align: center;
    margin-top: 16px;
}


.page-top__list{
	display: flex;
	flex-wrap:wrap;
	margin-right: -74px;
	padding: 13px 0 76px;
}

.page-top__item{
	width: 25%;
	padding-right: 74px;
	color: #fff;
	font-size: 16px;
	position: relative;
	&:before{
		content: "";
		width: 136px;
		height: 136px;
		background: #3C3C3C;
		opacity: 0.1;
		display: block;
		position: absolute;
		    top: 38px;
    	left: 0px;
		border-radius: 50%;
	}
}

.page-top__icon{
	height: 110px;
	display: flex;
	align-items: center;
	padding-left: 31px;
    margin-bottom: -8px;
    position: relative;
	img{
		display: block;
		max-height: 100%;
	}
}
.page-top__txt{
	font-weight: 800;
	padding-left: 24px;
	position: relative;
}


.who__item--double__item{
	&:first-child{
		    margin: -120px 0 120px;
	}
}

.who__list--double{
	padding-top: 120px;
	    padding-bottom: 8px;
	    .who__item{
	    	.who__icon{
	    		margin-bottom: -30px;
	    	}
	    }
}

.page-top__buttons{
	padding: 42px 0 63px;
	display: flex;
	.btn{
		margin-right: 40px;
		padding: 12px 33px;
		display: flex;
    	align-items: center;
	}
	.btn-alt{
		padding: 12px 33px;
	}
}

.benefits{
	padding: 98px 0 60px;
}

.benefits__list{
	display: flex;
	flex-wrap:wrap;
	margin-right: -74px;
	padding: 0 0 76px;
}

.benefits__item{
    width: 33.33%;
    padding-right: 41px;
    font-size: 18px;
    position: relative;
    line-height: 1.45;
    margin-bottom: 17px;
	&:before{
		content: "";
		width: 128px;
		height: 128px;
		background: linear-gradient(225deg, #DCFBFF 0%, #FFFFFF 100%);
		display: block;
		position: absolute;
		    top: 27px;
    left: -8px;
		border-radius: 50%;
	}
}

.benefits__icon{
	height: 110px;
	display: flex;
	align-items: center;
	padding-left: 31px;
    margin-bottom: -8px;
    position: relative;
	img{
		display: block;
		max-height: 100%;
	}
}
.benefits__txt{
	padding-left: 24px;
	position: relative;
}

.methods__item--corporative{
	background: #DCFBFF;
	padding: 44px 71px 59px 71px;
	margin-bottom: 74px;
	.who__icon:before{
		background: #fff;
	}
	.who__icon{
		&:after{
			content: "";
			display: inline-block;
			background: url(../img/content/method-arrow-wh.png) no-repeat;
			position: absolute;
			right: -45px;
    		top: 38px;
			width: 135px;
			height: 31px;
		}
	}
	.who__item:last-child{
		.who__icon{
			&:after{
				display: none;
			}
		}
	}
	.who__title {
	    min-height: inherit;
	}
}
.interest{
	background: #F4F5F5;
	padding: 32px 100px 39px 72px;
	position: relative;
	margin-bottom: 29px;
	h2{
		color: #FF7700;
	}
}

.interest__icon{
	position: absolute;
	    top: -30px;
    right: 114px;
	img{
		display: block;
	}
}

.interest__add{
	margin-bottom: 26px;
	font-weight: 800;
}
.interest__info{
	max-width: 792px;
}

.individual{
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0 51px;
	h2{
		    margin: 0;
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.35;
		text-align: center;
	}
}

.individual__list{
	display: flex;
	flex-wrap:wrap;
	margin-right: -10px;
	padding-top: 28px;
}

.individual__item{
	width: 25%;
	padding-right: 10px;
}

.individual__icon{
	width: 128px;
	height: 128px;
	background: url(../img/svg/individual.svg) center/contain no-repeat;
	    margin-bottom: -37px;
}

.individual__info{
	padding-left: 29px;
}

.individual__title{
	font-weight: 800;
	margin-bottom: 10px;
}
.individual__txt{
	font-size: 18px;
}


.selecting{
	padding: 33px 0 46px;
	text-align: center;
	background: #F4F5F5; 
	h4{
		color: #FF7700;
		margin: 0;
		margin-bottom: 13px;
		font-weight: 800;
		font-size: 24px;
		line-height: 1.2;
	}
	p{
		margin: 0;
		margin-bottom: 29px;
	}
	.btn{
		padding: 14px 65px;
	}
}

.card{
	    padding: 96px 0 110px;
	color: #fff;
	h2{
		
		margin: 0;
		margin-bottom: 32px;
		font-weight: 800;
		font-size: 40px;
		line-height: 1.35;
	}
	h4{
		margin: 0;
		margin-bottom: 25px;
		font-weight: 800;
		font-size: 24px;
		line-height: 1.2;
	}
	p{
		margin: 0;
		margin-bottom: 24px;
	}
	.individual__item{
		width: 33.33%;
		padding-right: 100px;
		i{
			font-style: normal;
			color: #FF7700;
			font-weight: 800;
		}
	}
	.individual__list{
		margin-right: -100px;
		padding-top: 10px;
	}
	.individual__icon{
		background: url(../img/svg/individual2.svg) center/contain no-repeat;
    	margin-bottom: -55px;
	}
}

.card__top{
	max-width: 864px;
	margin-bottom: 41px;
}

.card__icon{
	position: absolute;
	right: -35px;
	top: 50%;
	transform:translateY(-50%);
}

.card-benefits{
	background: linear-gradient(180deg, #F4F5F5 0%, rgba(244, 245, 245, 0) 100%);
	
	.benefits__item{
		width: 25%;
		font-size: 16px;
	}
	.benefits__title{
		position: relative;
		font-weight: 800;
		margin-bottom: 16px;
	}
	.benefits__txt{
		padding-left: 0;
	}
	.benefits__list{
		padding-bottom: 0;
	}
	h2{
		
		margin: 0;
		margin-bottom: 35px;
		font-weight: 800;
		font-size: 40px;
		line-height: 1.35;
	}
	.benefits__icon{
		margin-bottom: -20px;
		&:before{
			top: 34px;
    left: -16px;
		}
	}
}

.card-benefits__inner{
	background: #fff;
	position: relative;
	top: -36px;
	margin-bottom: -36px;
	padding: 40px 72px 21px;
}

.conference{
	    padding: 96px 0 0;
	h2{
		    margin-bottom: 44px;
	}
}
.conference__list{
	    margin-bottom: 71px;
}

.conference__item{
	margin-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	padding: 235px 112px 40px;
	position: relative;
	font-size: 16px;
	box-shadow: 0px 5.62137px 38.5466px #B8BDBD;
	line-height: 1.38;
	&:last-child{
		margin-bottom: 0;
	}
	// &:before{
	// 	content: "";
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	background: #3C3C3C;
	// 	opacity: 0.2;
	// }
	// &:after{
	// 	content: "";
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	background: linear-gradient(90deg, #E55D87 0%, #5FC3E4 100%);
	// 	opacity: 0.7;
	// }
	h3{
		margin-bottom: 13px;
	}
	p{
		margin-bottom: 11px;
	}
}

.conf-more{
	color: #fff;
    position: relative;
    padding-left: 33px;
    display: inline-block;
    margin-top: 22px;
	&:before{
		content: "";
		display: inline-block;
		width: 25px;
		height: 25px;
		background: url(../img/svg/conf-more.svg) center/contain no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.webinar{
	padding: 26px 0 105px;
	background: #fff;
	h2{
		margin: 0;
		margin-bottom: 25px;
		font-weight: 800;
		font-size: 40px;
		line-height: 1.2;
	}
	&+.webinar{
		padding-top: 0;
	}
}
.webinar__title{
	max-width: 1088px;
	margin-left: auto;
	margin-right: auto;
}

.webinar__img{
    width: 142px;
    min-width: 142px;
    height: 142px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 5.62137px 38.5466px rgba(60, 60, 60, 0.3);
}

.webinar__list{
	display: flex;
	margin-right: -49px;
	    padding-top: 24px;
}

.webinar__list--three{
	.webinar__item{
		width: 33.333%;
		
	}
}
.webinar__list--two{
	max-width: 1088px;
	margin-left: auto;
	margin-right: auto;
	.webinar__item{
		width: 50%;
		
	}
	.webinar__add{
		max-width: 370px;
		padding-right: 0;
	}
}

.webinar__list--single{
	max-width: 1156px;
	margin-left: auto;
	margin-right: auto;

	.webinar__item{
		width: 100%;
		    padding-right: 0;
   	 padding-bottom: 0;
   	 display: flex;
	}
	.webinar__add{
		position: relative;
		width: 403px;
		min-width: 403px;
		margin-left: 71px;
		padding-left: 70px;
		&:before{
			content: "";
			display: block;
			width: 2px;
			height: 111px;
			background: #D5DBDB;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.webinar__info {
	    padding-right: 0;
	}
	.webinar__person {
	    border-top: 0;
	    padding-top: 20px;
	    max-width: 207px;
	        margin-left: 32px;
	}
	.webinar__name {
	    margin-bottom: 6px;
	}
	.webinar__date span {
	    font-size: 48px;
	}
	.webinar__top{
		font-size: 32px;
		    margin-bottom: 27px;
	}
	.webinar__date,
	.webinar__time{
		font-size: 24px;
	}
	.webinar__time-top{
		margin-bottom: 22px;
	}
}

.webinar__person-wrap{
	display: flex;
	    margin-left: -30px;
}

.webinar__item{
	margin-right: 49px;
	padding-bottom: 136px;
    position: relative;
}

.webinar__top{
	color: #0A9DDC;
	font-size: 24px;
    font-weight: 800;
        margin-bottom: 18px;
    position: relative;
    &:before{
    	content: "";
    	display: inline-block;
    	background: url(../img/content/webinar-bef.png) no-repeat;
    	width: 92px;
    	height: 76px;
    	position: absolute;
    	    left: -25px;
    	top: -13px;
    }
    span{
    	position: relative;
    	z-index: 1;
    }
}

.webinar__txt{
	color: #3C3C3C;
	opacity: 0.6;
	font-size: 16px;
	margin-bottom: 29px;
}

.webinar__add{
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-right: 34px;
}

.webinar__info{
	padding-right: 25px;
	flex:1;
}

.webinar__time-top{
	margin-bottom: 12px;
	display: flex;
	align-items: flex-end;
	// justify-content: space-between;
	font-weight: 800;
	line-height: 1;
}
.webinar__date{
	color: #FF7700;
	font-size: 16px;
	margin-right: 32px;
	span{
		display: block;
		font-size: 40px;
	}
}
.webinar__time{
	font-size: 16px;
}
.webinar__person{
	border-top: 2px solid #F4F5F5;
	padding-top: 10px;
	font-size: 16px;
}

.webinar__name{
	font-weight: 800;
	margin-bottom: 1px;
}
.webinar__pos{
	color: #3C3C3C;
	opacity: 0.6;
}

.theme{
	background: #fff;
	// padding-bottom: 96px;
	h4{
		margin: 0;
		margin-bottom: 14px;
		font-weight: 800;
		font-size: 24px;
		line-height: 1.2;
		color: #FF7700;
	}
	.btn{
		font-size: 18px;
	}
}

.theme__in{
	background: #F4F5F5;
	padding: 31px 443px 33px 77px;
	position: relative;
}
.theme__img{
	position: absolute;
	right: 50px;
	top: -64px;
	img{
		display: block;
		max-width: 100%;
	}
}

.theme__txt{
	margin-bottom: 29px;
}
.article{
	background: #fff;
	padding:  48px
}

.img-wrap{
	margin: 0 -15px 23px;
	    padding-top: 20px;
	img{
		display: block;
		max-width: 100%;
	}
	figcaption{
		padding: 10px 15px 0;
	}
}

.img-wrap--video{
	position: relative;
}

.promotion{
	background: linear-gradient(191.23deg, #DCFBFF 0%, #FFFFFF 100%);
	text-align: center;
	padding: 30px 30px 40px;
	margin-bottom: 96px;
	h4{
		color: #FF7700;
		margin-bottom: 11px;
	}
}
.promotion__txt{
	margin-bottom: 24px;
}


.marketing{
	position: relative;
	background: #4F50FF;
	padding: 60px 0;
	color: #fff;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(180deg, #231F21 0%, rgba(35, 31, 32, 0) 100%);
		opacity: 0.5; 
	}
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(137.94deg, rgba(255, 119, 0, 0) 0%, #FF7700 100%);
		opacity: 0.3;
	}
	h3{
	    margin: 0;
	    margin-bottom: 31px;
	    font-weight: 800;
	    font-size: 30px;
	    line-height: 1.2;
	}
	.container-fluid{
		max-width: 1088px;
		padding: 0;
	}
	.btn{
		    padding: 13px 62px;
    font-size: 18px;
	}
}
.marketing__inner{
	max-width: 665px;
	position: relative;
	z-index: 1;
}


.marketing__img{
	position: absolute;
	right: 0;
	bottom: 0;
	    z-index: 1;
	img{
		display: block;
		max-width: 100%;
	}
}

.latest__title{
	max-width: 1088px;
	margin: 0 auto;
	h2{
		margin: 0;
		margin-bottom: 50px;
		font-weight: 800;
		font-size: 40px;
		line-height: 1.2;
	}
}
.latest{
	background: #fff;
	padding-top: 53px;
	overflow: hidden;
}

.latest__img {
    height: 416px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 23px;
    display: block;
}

.latest__top{
	color: #0A9DDC;
	font-weight: 800;
	margin-bottom: 15px;
	display: block;
}


.latest__txt{
	color: #3C3C3C;
	font-size: 16px;
	opacity: 0.6;
}

.latest__slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-list{
		margin: 0 -16px;
	}
	.slick-arrow{
		margin-top: 0;
    	top: 170px;
	}
	// .slick-dots {
	//     position: absolute;
	//     bottom: -40px;
	// }
	// .slick-slide{
	// 	>div{
	// 		height: 300px;
	// 	}
	// }
}
.latest__item{
	padding: 0 16px;
}


.img-multiple{
	display: flex;
	margin-right: -19px;
	flex-wrap:wrap;
}
.img-multiple--4{
	.img-multiple__item{
		width: 25%;
	}
}
.img-multiple__item{
	padding-right: 19px;
	
	img{
		max-width: 100%;
		display: block;
	}
}
.img-multiple-wrap{
	margin-bottom: 20px;
	figcaption{
		min-width: 100%;
		padding: 9px 0 0 0;
	}
}
.share{
	border-top: 2px solid #F4F5F5;
	padding-top: 32px;
	    display: flex;
    align-items: center;
}

.share__msg{
	font-size: 16px;
	margin-right: 10px;
}

.labels{
	padding: 32px 0 20px;
	display: flex;
	flex-wrap:wrap;
	max-width: 990px;
}
.labels__item{
    margin: 0 8px 10px 0;
    color: #0A9DDC;
    font-size: 16px;
    padding: 4px 15px;
    border: 1px solid #0A9DDC;
    border-radius: 8px;
	&.active{
		border: 1px solid transparent;
		box-shadow: 0px 3px 14px rgba(131, 186, 193, 0.5);
		color: #000;
	}
}


.paging{
	display: flex;
	align-items:center;
	margin: 30px 0;
	justify-content: center;
}
.paging__inner{
	display: flex;
	align-items:center;
}
.paging__item{
	color: #3C3C3C;
	margin-right: 24px;
	font-size: 24px;
	&:last-child{
		margin-right: 0;
	}
	&.active{
		border-radius: 50%;
		background: #FF7700;
		color: #fff;
		height: 52px;
		min-width: 52px;
		
		display: flex;
		align-items:center;
		justify-content: center;
	}
}
.paging__item--prev{
	box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
	height: 52px;
	min-width: 52px;
	border-radius: 50%;
	background: #fff url(../img/svg/p-prev.svg) 16px center no-repeat;
	margin-right: 64px;
}

.paging__item--next{
	box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
	height: 52px;
	min-width: 52px;
	border-radius: 50%;
	background: #fff url(../img/svg/p-next.svg) 19px center no-repeat;
	margin-left: 64px;
}

.news{
	padding-bottom:64px;
}

.news-top{
	margin-bottom: 32px;
}

.news__list{
	display: flex;
	flex-wrap:wrap;
	    padding: 0 95px 20px;
}
.news__item{
	width: 50%;
	padding: 0 16px;
	margin-bottom: 48px;
}

.news__img{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 396px;
	margin-bottom: 26px;
	display: block;
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(180deg, rgba(60, 60, 60, 0.3) 0%, rgba(60, 60, 60, 0.7) 100%);
	}
}

.news__title{
	font-weight: 800;
	color: #fff;
	font-size: 24px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 24px 32px;
	z-index: 1;
	line-height: 1.35;
}

.news__txt{
	padding: 0 32px;
	font-size: 16px;
	line-height: 1.38;
}

.news-top__list{
	display: flex;
}
.news-top__item{
	width: 50%;
	.news__img{
		margin-bottom: 0;
	}
}

.news-top__item--lg{
	.news__img{
		height: 392px;
	}
	.news__title{

	}
}

.news-top__item--complex{
	display: flex;
	flex-wrap:wrap;
	.news__img{
		width: 50%;
		height: 50%;
	}
	.news__title{
		font-size: 16px;
	}
}

.page-top__buttons--news{
	padding: 24px 0 0px;
	.btn{
		margin-right: 0;
		padding: 7px 16px;
		font-size: 18px;
	}
}


.speakers{
	background: #E5E5E5;
	padding: 60px 0 40px;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 100%;
		background: #E5E5E5;
	}
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 100%;
		background: #E5E5E5;
	}
	h2{
		margin-bottom: 34px;
	}
}

.speakers-slider__item{
	padding: 0 16px;
}

.speakers-slider__title{
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.2;
}
.speakers-slider__txt{
	font-size: 16px;
	line-height: 22px;
	color: #3C3C3C;
	opacity: 0.6;
}

.speakers-slider__img{
	height: 248px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 18px;
}


.speakers-slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow {
	    top:87px;
	    margin-top: 0;
	}
	.slick-list{
		margin: 0 -16px;
	}
}

.programms{
	padding: 50px 0;
	margin-bottom: 30px;
}


.programms__item{
	box-shadow: 0px 5.62137px 38.5466px #B8BDBD;
	margin-bottom: 40px;
	position: relative;
	color: #fff;
	line-height: 1.35;
	&:last-child{
		margin-bottom: 0;
	}
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: #3C3C3C;
		opacity: 0.3;
		position: absolute;
		left: 0;
		top: 0;
	}
	h3 {
	    margin-bottom: 17px;
	    line-height: 1.5;
	}
}

.programms__inner{
	padding: 0 112px;
}


.programms__top,
.programms__bottom{
	position: relative;
	z-index: 2;
}

.programms__img{
	position: absolute;
	right: 0;
	bottom: 0;
	img{
		display: block;
	}
}

.programms__add{
	font-size: 16px;
	opacity: 0.8;
}

.programms__top{
	    padding: 32px 0 59px;
}

.programms__bottom{
	position: relative;
	
	padding: 24px 0 28px;
	.programms__inner{
		display: flex;
		align-items: flex-start;
		position: relative;
		z-index: 2;
	}
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 79.17%);
		opacity: 0.1;
	}
	.btn,
	.btn-alt{
		font-size: 18px;
	}
	.btn{
		&+.btn-alt{
			margin-left: 27px;
		}
	}
	.btn-alt{
		padding: 9px 25px;
	}
}

.programms__cost{
	margin-right: 41px;
	font-weight: 800;
	font-size: 24px;
	line-height: 1;
}
.cost-title{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 3px;
}

.recruitment{
	display: flex;
	margin-top: 24px;
	padding-top: 26px;
	border-top: 2px solid rgba(255,255,255, 0.1);
}
.recruitment__item{
	width: 33.333%;
	padding-right: 56px;
	font-size: 16px;
}

.recruitment__title{
	color: #FF7700;
	margin-bottom: 4px;
}
.recruitment__txt{
	font-weight: 800;
	line-height: 22px;
	span{
		display: block;
	}
}

.date{
	display: block;
    margin-bottom: 17px;
    color: #d6d6d6;
    padding-left: 34px;
    position: relative;
    font-size: 16px;
	&:before{
		content: "";
		display: block;
		width: 41px;
		height: 40px;
		background: url(../img/svg/date.svg) no-repeat;
		position: absolute;
		left: -9px;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 4px;
	}
}


.page404{
	display: flex;
	margin-bottom: 50px;
	&+h2{
		margin-bottom: 43px;
	}
}

.page404__add{
	max-width: 650px;
    padding-top: 37px;
	h4{
		font-size: 20px;
	}
	a{
		color: #FF7700;
	}
}
.page404__main{
	h1{
	    font-size: 165px;
	    line-height: 130px;
	    margin: 0 50px 0 0;
	}
}

.way{
	display: flex;
	flex-wrap:wrap;
	margin-right: -4px;
}

.way__item{
	width: 25%;
	min-height: 287px;
	position: relative;
	&.way__item--lg{
		width: 50%;
		.way__add{
			font-size: 16px;
		}
		.way__title{
			margin-bottom: 17px;
		}
	}
	&.bg-violet{
		background: linear-gradient(90deg, #1D2B64 0%, #F8CDDA 100%);
	}
	&.bg-orange{
        background: linear-gradient(180deg, #FFA800 0%, #FF0000 100%);
	}
	&.bg-red{
		background: linear-gradient(90deg, #CC2B5E 0%, #753A88 100%);
	}
	&.bg-blue{
		background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
	}
	&.bg-orange{
		background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
	}
	&.bg-violet-sec{
		background: linear-gradient(90deg, #A374BF 0%, #3541AD 100%);
	}
	&.bg-blue-sec{
		background: linear-gradient(90deg, #59CDE9 0%, #0A2A88 100%);
	}
}


.way__link{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	color: #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	 padding: 29px 32px 95px 32px;
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: #3C3C3C;
		opacity: 0.3;
		z-index: 1;
	}
	&:before{
		content: "";
		display: block;
		width: 48px;
		height: 48px;
		background: url(../img/svg/way.svg) no-repeat;
		position: absolute;
		    left: 31px;
    	bottom: 33px;
		z-index: 2;
	}
}

.way__img{
	position: absolute;
	right: 0;
	bottom: 0;
	img{
		display: block;
	}
}

.way__title{
	font-size: 24px;
	font-weight: 800;
	line-height: 1.35;
	position: relative;
	z-index: 2;
}

.way__add{
	font-size: 24px;
	line-height: 1.35;
	position: relative;
	z-index: 2;
}


.page-top-academy{
	font-size: 24px;
	font-weight: 800;
	max-width: 790px;
	margin: 0 auto 30px;
	text-align: center;
}
.academy-about{
	text-align: center;
}
.academy-about__btn{
	font-weight: 800;
	font-size: 18px;
	color: #fff;
	border: 1px solid #FF7700;
	border-radius: 8px;
	display: inline-block;
	padding: 5px 15px 0px 15px;
	span{
		display: inline-flex;
		align-items:center;
		&:before{
			content: "";
			width: 25px;
			height: 25px;
			display: inline-block;
			margin-right: 8px;
			background: url(../img/svg/about.svg) no-repeat; 
		}
	}
}


.timetable{
	padding: 35px 0 50px;
	h2{
		margin-bottom: 42px;
	}
}


.timetable-slider__item{
	padding-right: 3px;
	height: 100%;
	&.bg-violet-sec{
		.timetable-slider__inner{
			background: linear-gradient(90deg, #A374BF 0%, #3541AD 100%);
		}
	}
	&.bg-violet{
		.timetable-slider__inner{
			background: linear-gradient(90deg, #1D2B64 0%, #F8CDDA 100%); 
		}
	}
	&.bg-blue {
		.timetable-slider__inner{
			background: #4F50FF;
		}
	}
	&.bg-orange {
		.timetable-slider__inner{
			background: linear-gradient(180deg, #FFA800 0%, #FF0000 100%);
		}
	}
}

.timetable-slider__inner{
	display: block;
	position: relative;
	color: #fff;
	    padding: 16px 16px 23px;
	height: 100%;
	&:before{
		content: "";
	    display: block;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    background: #3C3C3C;
	    opacity: 0.3;
	    z-index: 1;
	}
}

.timetable-slider__img{
	position: absolute;
	bottom: 0;
	right: 0;
	img{
		display: block;
	}
}


.timetable-slider__title,
.timetable-slider__info,
.timetable-slider__price,
.timetable-slider__more{
	position: relative;
	z-index: 2;
}

.timetable-slider__title{
	font-weight: 800;
	font-size: 18px;
	    padding-bottom: 16px;
    margin-bottom: 17px;
	border-bottom: 2px solid rgba(255,255,255,0.1);
	line-height: 1.33;
	    min-height: 4.78em;
}

.timetable-slider__info{
	font-size: 16px;
	margin-bottom: 7px;
	line-height: 1.35;
}

.timetable-slider__price{
	color: #FF7700;
	font-size: 16px;
	margin-bottom: 12px;
}

.timetable-slider__more{
	display: inline-block;
	color: #FFFFFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	background: rgba(255, 255, 255, 0.4);
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	padding: 1px 14px;
}


.timetable-slider{
	display: none;
	padding: 0 41px;
	&.slick-initialized{
		display: block;
	}
	.slick-track{
		display: flex;
		min-width: 100%;
	}
	.slick-slide{
		height: auto;
		>div{
			height: 100%;
		}
	}
	.slick-arrow{
		background: transparent;
		box-shadow:none;
		width: 22px;
		height: 40px;
		    margin-top: -20px;
	}
	.slick-prev {
	    background: url(../img/svg/prev.svg) center no-repeat;
	    left: 0;
	}
	.slick-next {
	    background: url(../img/svg/next.svg) center no-repeat;
	    right: 0;
	}
}


.why-page {
    padding: 50px 0 70px;
}
.why__list{
	display: flex;
	margin:0 -16px;
}
.why__item{
	width: 20%;
	font-size: 16px;
	color: rgba(60,60,60,0.7);
	padding: 0 16px;
}

.why__title{
	font-size: 18px;
	color: #3C3C3C;
	font-weight: 800;
	margin-bottom: 17px;
	line-height: 1.2;
}
.why__info{
	position: relative;
		z-index: 2;
		line-height: 1.38;
}

.why__icon{
	    height: 146px;
	display: flex;
	align-items:center;
	position: relative;
	padding-left: 10px;
	img{
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
		position: relative;
		z-index: 2;
	}
	&:before{
		content: "";
		display: inline-block;
		width: 184px;
		height: 184px;
		border-radius: 50%;
		background: linear-gradient(225deg, #DCFBFF 0%, #FFFFFF 100%);
		position: absolute;
		left: -34px;
    	top: 45px;
		z-index: 1;
	}
}

.questions{
	background: linear-gradient(222.85deg, #DCFBFF 0%, #FFFFFF 100%);
	padding: 60px 0 150px;
	position: relative;
	.container-fluid{
		    max-width: 1280px;
	}

}

.questions__bg{
	background: url(../img/content/questions-bg.png) center/cover no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.questions-top{
	margin-bottom: 40px;
	h2{
		text-align: center;
		margin-bottom: 34px;
	}
}
.questions-top__list{
	display: flex;
	padding-top: 20px;
	margin-right: -23px;
}
.questions-top__item{
	width: 20%;
	padding-right: 23px;
	padding-left: 20px;
}
.questions-top__img{
	    height: 136px;
    display: flex;
    align-items: center;
    position: relative;
	img{
		display: block;
		max-width: 100%;
		max-height: 100%;
		position: relative;
		z-index: 2;
	}
	&:before{
		content: "";
		display: block;
		width: 128px;
		height: 128px;
		left: 329px;
		background: #D8F3FB;
		position: absolute;
		left: -42px;
    top: 42px;
		border-radius: 50%;
	}
}
.questions-top__txt{
	font-size: 16px;
	position: relative;
	z-index: 2;
	line-height: 1.35;
	padding-left: 20px;
}

.questions-title{
	text-align: center;
	overflow: hidden;
	margin-bottom: 87px;
	span{
		display: inline-block;
		position: relative;
		font-weight: 800;
		font-size: 20px;
		&:before{
			content: "";
			display: block;
			background: #FF7700;
			width: 300%;
			height: 4px;
			position: absolute;
			top: 50%;
			margin-top: -2px;
			right: calc(100% + 17px); 
		}
		&:after{
			content: "";
			display: block;
			background: #FF7700;
			width: 300%;
			height: 4px;
			position: absolute;
			top: 50%;
			margin-top: -2px;
			left: calc(100% + 17px); 
		}
	}
}


.questions-main{
	h2{
		text-align: center;
		margin-bottom: 75px;
		span{
			display: block;
			font-size: 64px;
		}
	}
	
}

.questions-main__list{
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	margin-right: -100px;
}

.questions-main__item{
	width: 33.333%;
	padding-right: 100px;
	line-height: 1.35;
	margin-bottom: 59px;
}
.questions-main__num{
	font-size: 80px;
	line-height: 80px;
	font-weight: 900;
	color: #FF7700;
	position: relative;
	    margin-bottom: 10px;
	&:before{
		content: "";
		display: block;
		width: 128px;
		height: 128px;
		background: #FFFFFF;
		box-shadow: 0px 12px 100px rgba(10, 157, 220, 0.2);
		position: absolute;
		    left: -23px;
    	top: 17px;
		border-radius: 50%;
		z-index: 1;
	}
	span{
		position: relative;
		z-index: 2;
	}
}
.questions-main__title{
	font-weight: 800;
    margin-bottom: 19px;
    position: relative;
    z-index: 2;
    padding-left: 10px;
    line-height: 1.2;
}
.questions-main__txt{
	font-size: 16px;
	position: relative;
		z-index: 2;
		    padding-left: 10px;
}

.index-way{
	padding-bottom: 96px;
	h2{
		margin-bottom: 40px;
	}
}

.guarantees{
	background: linear-gradient(206.28deg, #DCFBFF 0%, #FFFFFF 100%);
	    padding: 96px 0 68px;
	h2{
		    margin-bottom: 14px;
	}
}

.guarantees__list{
	display: flex;
	flex-wrap:wrap;
	margin-right: -114px;
}

.guarantees__item{
	width: 50%;
	padding-right: 114px;
	margin-bottom: 63px;
}
.guarantees__img{
	height: 145px;
	display: flex;
	align-items: center;
	margin-bottom: -27px;
	padding-left: 48px;
	position: relative;
	img{
		display: block;
		position: relative;
		z-index: 2;
	}
	&:before{
		content: "";
		display: block;
		width: 184px;
		height: 184px;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background: #fff;
	}
}
.guarantees__title{
	font-weight: 800;
	font-size: 24px;
	line-height: 1.35;
	position: relative;
		z-index: 2;
}


.career{
	padding: 0 0 64px 0;
	h2{
		    margin: 0;
    font-weight: 800;
    line-height: 1.2;
    font-size: 40px;
    margin-bottom: 24px;
		color: #FF7700;
	}
	.btn{
		font-size: 18px;
	}
}

.career__info{
	max-width: 792px;
	line-height: 1.35;
}

.career__in{
	background: #F4F5F5;
	padding: 32px 448px 40px 72px;
	position: relative;
}
.career__txt{
	font-size: 24px;
	margin-bottom: 39px;
}

.career__add{
	font-weight: 800;
	font-size: 24px;
	margin-bottom: 33px;
}
.career__img{
    position: absolute;
    right: 110px;
    top: -40px;
	img{
		display: block;
	}
}


.videolibrary{
	padding: 64px 60px 59px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	h2{
		margin: 0;
	    font-weight: 800;
	    line-height: 1.2;
	    font-size: 48px;
	    margin-bottom: 19px;
	}
		
}

.videolibrary__info{
	max-width: 1084px;
	margin: 0 auto 23px;
	font-size: 24px;
	p{
		margin: 0;
		margin-bottom: 31px;
	}
	.btn-alt{
		font-size: 18px;
	}
}
.videolibrary__list{
	display: flex;
	justify-content: center;
	max-width: 643px;
	margin: 0 auto;
	    transform: translateX(100px);
}
.videolibrary__item{
	width: 50%;
	position: relative;
	text-align: left;
	padding-top: 44px;
	&:before{
		content: "";
		display: block;
		width: 184px;
		height: 184px;
		background: #FFFFFF;
		opacity: 0.1;
		position: absolute;
		    left: -41px;
		top: 0;
		z-index: 1;
		border-radius: 50%;
	}
}
.videolibrary__num{
	font-size: 88px;
	font-weight: 900;
	line-height: 83px;
	position: relative;
	z-index: 2;
}
.videolibrary__title{
	position: relative;
	z-index: 2;
	font-weight: 800;
	font-size: 24px;
    padding-left: 59px;
        margin-bottom: 7px;
}
.videolibrary__txt{
position: relative;
    z-index: 2;
    max-width: 240px;
    font-size: 16px;
    padding-left: 58px;
}

//PAGES
@import "pages/speaker";

@import "pages/course";




@import "components/footer";




@import "components/media";





