.page-footer{
	flex-shrink: 0;
	padding: 80px 0;
	overflow: hidden;
	.socials {
	    justify-content: flex-start;
	}
	.socials__item{
		margin-right: 19px;
		width: 32px;
    	height: 32px;
		&:last-child{
			margin-right: 0;
		}
	}
}



.contacts{
	min-height: 613px;
	position: relative;
	&.grey-sqheme{
		border-top: 2px solid #fff;
	}
}

#contacts-map{
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
}
.grey-sqheme{
	#contacts-map{
		border-left: 2px solid #fff;
	}
}
.contacts__info{
	width: 50%;
	padding: 100px 40px 20px 0;

	h2{
		margin: 0;
		margin-bottom: 33px;
		font-weight: 800;
		font-size: 48px;
		line-height: 1.2;
	}
}
.contacts__phone{
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 13px;
	color: #3C3C3C;
	&+.contacts__phone{
		margin-bottom: 32px;
	}
	a{
		color: #3C3C3C;
	}
}
.contacts__add{
	    margin-bottom: 33px;
    line-height: 1.3;
}

.contacts__mail{
	display: block;
	color: #0A9DDC;
	margin-bottom: 24px;
	transition:color 0.3s ease;
	&:hover{
		color: #056493;
	}
}

.contacts__howTo{
	display: block;
	margin-bottom: 48px;
	color: #0A9DDC;
	padding-left: 42px;
	position: relative;
	transition:color 0.3s ease;
	&:hover{
		color: #056493;
	}
	&:before{
		content: "";
		display: inline-block;
		width: 50px;
		height: 50px;
		position: absolute;
		    left: -9px;
    	top: -4px;
		background: url(../img/svg/howto.svg) no-repeat;
	}
}


.page-footer__wrap{
	display: flex;
	margin-right: -43px;
}
.page-footer__item{
	padding-right: 43px;
	width: 20%;
}
.page-footer__title{
	font-weight: 800;
	margin-bottom: 24px;
	a{
		color: #3C3C3C;
	}
}

.page-footer__link{
	display: block;
	margin-bottom: 22px;
	font-size: 16px;
	color: #0A9DDC;
	&:last-child{
		margin-bottom: 0;
	}
}
.page-footer__hidden{
	display: none;
	&.active{
		display: block;
	}
}

.show-more-link{
    display: block;
    font-size: 16px;
    border-top: 1px solid #D5DCDC;
    padding-top: 16px;
    color: #0A9DDC;
    padding-left: 32px;
    position: relative;
	&:before{
		content: "";
		display: inline-block;
	    width: 24px;
	    height: 19px;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    background: url(../img/svg/more-link.svg) center/contain no-repeat;
	}
}

.page-footer__links{
	padding-bottom: 25px;
}

.page-footer__logo{
	margin: 28px 0 23px;
	img{
		display: block;
		max-width: 100%;
	}
}
.copyright{
	font-size: 16px;
	margin-bottom: 24px;
}

.all-right{
	margin-bottom: 24px;
	font-size: 16px;
}