.page-header{
    padding: 40px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    transition:background 0.2s linear, padding-top 0.2s linear, padding-bottom 0.1s linear, box-shadow 0.2s linear;
    &.fixed{
        padding: 0;
        background: #fff;
        box-shadow: 0px 3px 14px rgba(131, 186, 193, 0.5);
        .top-nav_link,
        .office-link-toggle{
            color: #000!important;
            text-shadow:none!important;
            
        }
        .phone-link-toggle:before {
            background: url(../img/svg/phone-fix.svg) no-repeat;
                top: 10px;
        }
        .office-link-toggle,
        .courses-toggle-link{
            padding-top: 17px!important;
            padding-bottom: 17px!important;
        }
        .phone-link-toggle{
            width: 64px;
            height: 56px;
            background: linear-gradient(180deg, #FFFFFF 0%, #E8FCFF 100%)!important;
            border: 1px solid #DCFBFF;
            margin-right: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            &.active{
                background: #DCFBFF!important;
            }
        }



        .courses-link{
            background: linear-gradient(180deg, #FFFFFF 0%, #E8FCFF 100%);
            /* Blue */
            border-left: 1px solid #DCFBFF;
            border-right: 1px solid #DCFBFF;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: none;
        }
        .office-link{
            background: #fff;
        }
        .phone-list,
        .cabinet-list{
            border-radius: 0;
        }
        .logo{
            margin-top: 2px;
        }
    }
}

.layout--page{
    .phone-link-toggle{
     background: rgba(255, 255, 255, 0.1);
    }
}

.logo{
	display: inline-block;
    margin-top: 5px;
	width: 273px;
	height: 50px;
	background: url(../img/svg/logo.svg) center no-repeat; 
}

.page-header__in{
	display: flex;
}
.page-header__wrap{
    display: flex;
    justify-content: space-between;
    align-items:center;
        flex-grow: 1;
    padding-left: 64px;
}

.top-nav{
    display: flex;
    align-items:center;
    font-size: 16px;
}

.top-nav_link{
    color: #000;
    margin-right: 40px;
    &:last-child{
        margin-right: 0;
    }
}


.top-links{
    display: flex;
    align-items:center;
    font-size: 16px;
}

.phone-link{
    display: inline-block;
    position: relative;
    z-index: 3;
}
.phone-link-toggle{
    background: rgba(60,60,60,0.1); 
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 1px;
    display: block;
    width: 64px;
    height: 64px;
    position: relative;
    z-index: 2;
    &:before{
        content: "";
        display: inline-block;
        width: 48px;
        height: 48px;
        background: url(../img/svg/phone.svg) no-repeat;
        position: absolute;
        top: 14px;
        left: 10px;  
    }
    &:after{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 9px 0 9px;
        border-color: #DCFBFF transparent transparent transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        transform:translateX(-50%);
        opacity: 0;
    }
    &.active{
        background: #DCFBFF;
        &:before{
            background: url(../img/svg/phone-fix.svg) no-repeat;
            //top: 10px;
        }
        &:after{
            opacity: 1;
        }
    }
}

.office-link{
    background: rgba(60,60,60,0.1); 
    display: inline-block;
    position: relative;
    z-index: 3;
}

.courses-link{
    background: #fff; 
    display: flex;
    align-items:center;
    position: relative;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
        box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
}
.courses-link__count{
    padding-left: 8px;
    margin-left: 8px;
    border-left: 1px solid #C4C4C4;
}

.burger-icon {
    display: block;
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    width: 32px;
    height: 4px;
    background: #FF7700;
    box-shadow: 0px 4px 7px rgba(156, 73, 0, 0.2);
    transition: all 0.3s ease;
    margin-left: 18px;
    border-radius: 20px;
    &:before,
    &:after{
        display: block;
        width: 32px;
        height: 4px;
        background: #FF7700;
        transition: all 0.3s ease;
        position: absolute;
        border-radius: 20px;
        content: "";
        box-shadow: 0px 4px 7px rgba(156, 73, 0, 0.2);
    }
    &:before{
        top: -9px;
    }
    &:after{
        top: 9px;
    }
}



.courses-panel__bg{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    pointer-events:none;
    opacity: 0;
    &.is-active{
        pointer-events: all;
    }
    
}

.courses-panel{
    width: 411px;
    position: absolute;
    left: 0;
    top: 100%;
        height: calc(100vh - 75px);
    margin-left: -240px;
    background: #fff;
        padding: 36px 20px;
    z-index: 1;
    overflow: hidden;
    overflow-y: auto;
    // transform: translate(100%);
    // transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
    // transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    display: none;
    //  &:after{
    //     content: "";
    //     display: block;
    //     height: 100%;
    //     background: #fff;
    //     position: absolute;
    //     left: 100%;
    //     top: 0;
    //     z-index: 1;
    //     width: 300%;
    // }
    // &.is-active{
    //     transition: all 0.4s ease-in-out 0s;
    //     transform: translate(0%);
    // }
    h4{
        margin: 0;
        margin-bottom: 18px;
        font-weight: 800;
        font-size: 24px;
        line-height: 1.2;
        a{
            color: #3C3C3C;
        }
    }
    .timetable-slider__item{
        width: 365px;
    }
    .timetable-slider__inner {
        padding: 16px 20px 26px;
    }
    .timetable-slider__price {
        margin-bottom: 18px;
    }
    .timetable-slider__more {
        padding: 3px 33px;
    }
    .timetable-slider__item {
        padding-right: 0;
        height: auto;
        margin-bottom: 3px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}


.courses-panel::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
 
.courses-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
.courses-panel::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #FF7700;
}

.courses-panel__item{
    margin-bottom: 26px;
    //margin-right: 17px;
    &:last-child{
        margin-bottom: 0;
    }
}

.phone-list,
.cabinet-list{
    background: #fff;
    box-shadow: 0px 3px 14px rgba(131, 186, 193, 0.5);
    width: 411px;
    padding: 26px 70px 30px 37px;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    border-radius: 8px;
}
.phone-list__title{
    font-size: 16px;
    margin-bottom: 10px;
}
.phone-call{
    display: block;
    font-weight: 800;
    font-size: 24px;
    color: #3C3C3C;
    margin-bottom: 8px;
    margin-left: -14px;
    &:last-child{
        margin-bottom: 0;
    }
}

.office-link-toggle{
    color: #fff;
    padding: 21px 22px;
    display: block;
    position: relative;
    z-index: 2;
    &:after{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 9px 0 9px;
        border-color: #DCFBFF transparent transparent transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }
    &.active{
        background: #DCFBFF!important;
        color: #000;
        &:after{
            opacity: 1;
        }
    }
}


.cabinet-list__item{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
    &:last-child{
        margin-bottom: 0;
    }
}

.cabinet-list{
    margin-left: -66px;
}

.courses-toggle-link{
    display: flex;
    align-items: center;
    color: #000;
    padding: 21px 21px 21px 25px;
    position: relative;
    z-index: 2;
    &:after{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 9px 0 9px;
        border-color: #DCFBFF transparent transparent transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }
    &.active{
        background: #DCFBFF !important;
        color: #000;
        &:after{
            opacity: 1;
        }
    }
}