@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   	body{
   		padding-right: 0!important;
   	}
   	.page-header{
   		padding-right: 0!important;
   	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1350px){
	.slick-next{
		right: 10px;
	}
	.slick-prev{
		left: 10px;
	}
	.about-youtube-slider-wrap{
		margin-left: 20px;
	}
	.about-slider-wrap{
		margin-right: 20px;
	}
	.speaker-img{
		margin-right: 40px;
	}
	.course-cabinet-list{
		margin-right: 20px;
	}
}
@media screen and (max-width: 1300px){
	.page-header__wrap{
		padding-left: 30px;
	}
	.contact__item{
		padding-right: 20px;
	}
	.contact__items{
		margin-right: -20px;
	}
	.about-slider__rev {
	    padding: 20px;
	    font-size: 16px;
	}
	.webinar__top:before {
	    background-size: contain;
	    width: 64px;
	    height: 50px;
	    left: -15px;
	}
	.webinar__top {
	    font-size: 20px;
	}
	.webinar__list{
		margin-right: -20px;
	}
	.webinar__item{
		padding-right: 20px;
	}
	.webinar__list--single,
	.webinar__list--two{
	    max-width: 100%;
	    margin-right: 0;
	}
	.webinar__list--single .webinar__add {
	    margin-left: 30px;
	    padding-left: 50px;
	}
	.webinar__img {
	    width: 100px;
	    min-width: 100px;
	    height: 100px;
	}
	.webinar__list--single .webinar__person {
	    margin-left: 20px;
	}
	.what__add {
	    line-height: 1.3;
	}
	.offers-add__img:before,
	.offers-gen__img:before{
		left: 0;
	}
}

@media screen and (max-width: 1200px){
	.top-nav_link{
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
	}
	.courses-toggle-link,
	.office-link-toggle{
		padding: 10px;
	}
	.phone-link-toggle{
		width: 42px;
		height: 42px;
	}
	.phone-link-toggle:before {
	    width: 30px;
	    height: 30px;
	    background-size: contain;
	    top: 11px;
	    left: 8px;
	}
	.phone-link-toggle.active:before{
		background-size: contain;
	}
	.phone-list,
	.cabinet-list{
		width: 338px;
		padding: 15px 25px 25px 25px;
	}
	.page-header.fixed .office-link-toggle, .page-header.fixed .courses-toggle-link{
	    padding-top: 10px !important;
	    padding-bottom: 10px !important;
	}
	.phone-call{
		font-size: 18px;
	}
	.contacts-address__item:first-child {
	    padding-right: 40px;
	}
	.consultation__inner {
	    padding: 30px 310px 30px 20px;
	}
	.consultation__icon{
	    right: 0px;
	    top: -35px;
	    width: 155px;
	}
	.career__img{
	    right: 45px;
	    width: 220px;
	    img{
	    	max-width: 100%;
	    }
	}
	.requisites__item {
	    padding-right: 20px;
	}
	.speaker-slider__img {
	    height: 250px;
	}

	.page-header.fixed .phone-link-toggle {
	    width: 42px;
	    height: 42px;
	}
	.page-header.fixed .phone-link-toggle:before{
		background-size: contain;
	}
	.page-header.fixed .logo {
	    margin-top: 0;
	    height: 44px;
	}
	.course-nav__link--sign{
		font-size: 16px;
	}
	.course-nav__link {
	    padding: 3px 5px;
	    line-height: 1;
	}
	.theme__img {
	    right: 10px;
	    top: -10px;
	    width: 250px;
	}
	.theme__in {
	    padding: 31px 250px 33px 20px;
	}
	.cabinet-list {
	    margin-left: -43px;
	}
	.courses-panel{
		width: 338px;
		margin-left: -193px;
	}
	.courses-panel .timetable-slider__item {
	    width: 290px;
	}
	.page-header__in {
	    align-items: center;
	}
	.interest {
	    padding: 30px 310px 30px 20px;
	}
	.interest__icon{
		right: 0px;
	    width: 155px;
	    img{
	    	max-width: 100%;
	    }
	}
	.offers-gen__list {
	    justify-content: flex-start;
	    flex-wrap: wrap;
	}
	.offers-gen__item {
	    margin-right: 25px;
	    margin-bottom: 20px;
	}
	.get-top__txt {
	    font-size: 18px;
	    top: 85px;
	    left: 43px;
	}
	.get-top__number {
	    font-size: 50px;
	    line-height: 66px;
	    width: 130px;
	    height: 130px;
	    img{
	    	max-width: 60px;
	    }
	}
	.why-video__person {
	    padding-left: 20px;
	}
	.get-bonus__top {
	    font-size: 28px;
	}
	.cert-list.m-vertical .cert-item {
	    height: 145px;
	}
}
@media screen and (max-width: 1150px){
	.layout--page .page-top .container-fluid,
	.page-content > .container-fluid{
	    padding: 0 16px;
	}
	.article {
	    padding: 16px;
	    overflow: hidden;
	}
	.img-wrap {
	    margin: 0 0 20px;
	}
	.marketing{
		padding-left: 16px;
		padding-right: 16px;
	}
	.img-wrap figcaption {
	    padding: 10px 0 0;
	}
}
@media screen and (max-width: 1100px){
	.page-header {
	    padding: 20px 0;
	}
	.logo {
	    width: 200px;
	    height: 40px;
	    background-size: contain;
	}
	.contacts__info {
	    padding: 40px 20px 20px 0;
	}
	.contacts {
	    min-height: 535px;
	}
	.page-footer__wrap{
		margin-right: -15px;
	}
	.page-footer__item {
	    padding-right: 15px
	}
	.page-footer__link,
	.show-more-link,
	.all-right,
	.copyright{
		font-size: 14px;
	}
	.page-footer{
		padding: 30px 0 70px;
	}
	.page-footer__logo {
	    margin: 20px 0;
	}
	.page-content {
	    padding: 100px 0 40px;
	}
	.page-top {
	    padding: 110px 0 50px;
	}
	.subscription {
	    padding: 40px 0;
	}
	.subscription__wrap{
		padding: 40px 0;
	}
	.subscription__add {
	    margin: 0px auto 30px;
	    font-size: 18px;
	}
	.latest__img {
	    height: 300px;
	}
	.latest__slider .slick-arrow {
	    top: 110px;
	}
	.promotion{
		margin-bottom: 40px;
	}
	.share{
		padding-top: 15px;
	}
	.conference,
	.webinar,
	.benefits,
	.about,
	.consultation,
	.reviews-top,
	.more-reviews,
	.requisites,
	.who,
	.what,
	.after,
	.course-docs-top,
	.teacher,
	.course-speaker,
	.cost,
	.warranty,
	.results,
	.question,
	.individual,
	.selecting,
	.card,
	.reviews-video,
	.reviews,
	.training,
	.why,
	.course-cabinet,
	.programm{
	    padding: 40px 0;
	}
	.get-top{
		padding: 40px;
	}
	.get-bonus {
	    padding: 40px;
	}
	.docs-add{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.letter {
	    padding: 40px 20px;
	}
	.card-benefits__inner {
	    top: -15px;
	    margin-bottom: 0;
	    padding: 40px 30px;
	}
	.methods__item--corporative {
	    padding: 40px 30px 40px;
	}
	.methods{
		padding-bottom: 40px;
	}
	.methods__item + .methods__accord {
	    margin-top: 40px;
	}
	.speaker-slider {
	    margin-bottom: 40px;
	}
	.contract {
	    padding: 40px 20px;
	}
	.consultation--corp .consultation__inner{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.conference__list {
		margin-bottom: 40px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.conference__item {
	    padding: 65px 40px 40px;
	}
	.benefits__list{
		padding: 0;
	}
	.methods__item--corporative{
		margin-bottom: 40px;
	}
	.course-docs__item{
		margin-top: -20px;
	}
	.docs-start{
		padding-top: 40px;
	}
	.course-docs{
		padding-bottom: 40px;
	}
	.cost-counting{
		margin-bottom: 40px;
	}
	.contact-information{
		margin-left: 40px;
	}
	.contact{
		margin-bottom: 40px;
	}
	.reviews-slider-wrap + .more-reviews {
	    margin-top: 40px;
	    padding-bottom: 0;
	}
	.center-photo{
		padding-bottom: 40px;
	}
	.contacts-address {
	    padding: 0;
	}
	.about-slider-wrap {
	    margin-right: 10px;
	}
	.about-youtube-slider-wrap {
	    margin-left: 10px;
	}
	.about-youtube-slider-wrap,
	.about-slider-wrap{
		padding-bottom: 25px;
	}
	.about-slider__img{
		width: 130px;
		min-width: 130px;
		height: 130px;
	}
	.about-slider__person {
	    width: 180px;
	    margin-right: 10px;
	}
	.about-slider__item {
	    padding-bottom: 35px;
	}
	.theme__in {
	    padding: 40px 250px 40px 20px;
	}
	.page-top__list{
		margin-right: -20px;
	}
	.page-top__item{
		padding-right: 20px;
	}
	.contract__info {
	    padding-right: 40px;
	}
	.methods__item .who__list {
	    margin: 0 -30px 0 0;
	}
	.methods__item .who__item {
	    padding: 0 30px 0 0;
	}
	.about-note {
	    padding-left: 20px;
	}
	.about-add {
	    width: 40%;
	}
	.about-note{
		width: 60%;
	}
	// .methods__item .who__item:after {
	//     top: 10px;
	//     right: 0px;
	// }
	.methods__item .who__item--double .who__item--double__item:nth-child(2):after {
	    top: -24px;
	    right: 0px;
	}
	.card{
		.container-fluid{
			display: flex;
			flex-direction: column;
		}
	}
	.card__icon {
	    position: static;
	    transform: none;
	    order: 2;
	}
	.card__top {
	    order: 1;
	}
	.card h4 {
	    order: 3;
	}
	.card .individual__list {
	    order: 4;
	}
	.teacher-slider__links {
	    font-size: 13px;
	    padding: 10px 16px;
	}
	.cost-rent-price span {
	    font-size: 54px;
	    line-height: 74px;
	}
	.cost-rent__more {
	    padding: 25px 56px 60px 35px;
	}
	.cost-rent__info {
	    padding: 16px 40px 32px 25px;
	}
	.what__list{
		margin-right: -15px;
	}
	.what__item {
	    width: 33.33%;
	    padding-right: 15px;
	    margin-bottom: 15px;
	}
	.course-docs__img {
	    height: 200px;
	}
	.teacher-slider__img {
	    height: 400px;
	}
	.teacher-slider .slick-arrow {
	    top: 175px;
	}
	.letter {
	    padding: 30px;
	}
	.letter__download .btn {
	    top: 0;
	    font-size: 14px;
	    padding: 7px 9px;
	}
	.letter__download:before {
	    width: 250px;
	    height: 250px;
	    background-size: cover;
	    top: 0;
	    left: 0;
	}
	.letter__download {
	    width: 240px;
	    padding-top: 288px;
	    margin-top: -55px;
	}
	.letter__txt {
	    font-size: 16px;
	    line-height: 1.3;
	}
	.cost-table__txt {
	    padding: 10px 20px 10px 0;
	}
	.plus,.minus{
	    background-size: contain;
	        width: 24px;
    	height: 24px;
	}
	.cost-table__in {
	    padding: 10px 5px;
	}
	.consultation--404 .consultation__inner {
	    margin-top: 100px;
	}
}

@media screen and (max-width: 1023px){
	body{
		font-size: 14px;
	}
	.top-nav,
	.top-links{
		font-size: 14px;
	}
	.phone-link-toggle{
		height: 39px;
	}
	.phone-link-toggle:before{
		top: 8px;
	}
	.courses-toggle-link{
		padding: 8px 8px 9px;
	}
	.page-header__wrap {
	    padding-left: 10px;
	}
	.burger-icon{
		margin-left: 10px;
	}
	.page-footer__logo {
	    margin: 20px 0;
	}
	.contact{
		flex-wrap:wrap;
	}
	.contact__items {
	    margin: 0;
	    order: 2;
	}
	.contact-information {
	    margin-left: 0;
	    width: 100%;
	    order: 1;
	    margin-bottom: 30px;
	}
	.contacts-address__map {
	    height: 300px;
	}
	.center-photo h2 {
	    margin-bottom: 25px;
	}
	.center-photo:before {
	    width: 400px;
	    height: 400px;
	}
	.blockquote-wrap:before {
	    background-size: contain;
	    width: 88px;
	    height: 74px;
	    left: 0;
	}
	.blockquote-wrap {
	    padding: 30px 55px;
	}
	.course-nav__link,
	.course-nav__link--sign {
	    font-size: 14px;
	}
	.marketing__img {
	    width: 450px;
	}
	.webinar__info {
	    width: 100%;
	    min-width: 100%;
	    margin-bottom: 15px;
	}
	.webinar__add {
	    padding-right: 0;
	    flex-wrap: wrap;
	    position: static;
	}
	.webinar__item{
		padding-bottom: 0;
	}
	.webinar__person-wrap {
	    margin-left: 0;
	    flex-wrap: wrap;
	}
	.webinar__list--single .webinar__person {
	    margin-left: 0;
	    min-width: 100%;
	    order: 1;
	    margin-bottom: 15px;
	    border-top: 1px solid #F4F5F5;
    	padding-top: 10px;
	}
	.webinar__list--single{
		.webinar__img{
			order: 2;
		}
	}
	.webinar__list--single .webinar__date, .webinar__list--single .webinar__time {
	    font-size: 16px;
	}
	.webinar__list--single .webinar__date span {
	    font-size: 40px;
	}
	.webinar__list--single .webinar__time-top{
		margin-bottom: 12px;
	}
	.webinar__list--single .webinar__add {
	    margin-left: 20px;
	    padding-left: 20px;
	}
	.webinar__list--single .webinar__top {
	    font-size: 20px;
	}
	.page-top__txt {
	    font-size: 14px;
	}
	.page-top__item:before {
	    width: 100px;
	    height: 100px;
	}
	.page-footer .socials__item {
	    margin-right: 5px;
	    background-size: contain;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.page-footer__title {
	    margin-bottom: 20px;
	    font-size: 16px;
	}
	.workarea ul li:before,
	.workarea ul.dotted li:before{
	    top: 9px;
	}
	.phone-list, .cabinet-list,.courses-panel{
	    width: 302px;
	}
	.courses-panel{
		margin-left: -177px;
		padding: 15px;
	}
	.courses-panel .timetable-slider__item {
	    width: 270px;
	}
	.subscription-form .btn {
	    padding: 10px 18px 11px;
	}
	.news__item {
	    width: 50%;
	}
	.news-top__list {
	    flex-wrap: wrap;
	}
	.news-top__item {
	    width: 100%;
	}
	.news-top__item--complex .news__img {
	    min-height: 200px;
	}
	.speaker-img {
	    width: 300px;
	    min-width: 300px;
	}
	.speaker-img__in{
		width: 100%!important;
		position: static!important;
	}
	.programms__inner {
	    padding: 0 20px;
	}
	.why__list{
		flex-wrap:wrap;
	}
	.questions-top__list{
		padding-top: 0;
		flex-wrap:wrap;
	}
	.why__item,
	.questions-top__item{
	    width: 33.333%;
	        margin-bottom: 20px;
	}
	.way__link {
	    padding: 15px 15px 95px 15px;
	}
	.career__txt,
	.career__add{
	    font-size: 18px;
	}
	.career__img {
    	right: 0px;
	}
	.career__in {
	    padding: 30px 220px 30px 25px;
	}
	.way__title,
	.way__add,
	.videolibrary__info,
	.videolibrary__title,
	.guarantees__title{
	    font-size: 18px;
	}
	.videolibrary__num {
	    font-size: 58px;
	    line-height: 53px;
	}
	.guarantees__item {
	    padding-right: 30px;
	    margin-bottom: 40px;
	}
	.guarantees__list{
		margin-right: -30px;
	}
	.questions-title {
	    margin-bottom: 30px;
	}
	.questions-main__item {
	    padding-right: 40px;
	    margin-bottom: 30px;
	}
	.questions-main__list{
		margin-right: -40px;
	}
	.questions,
	.guarantees{
	    padding: 40px 0;
	}
	.speaker-list__item {
	    width: 33.33%;
	}
	.reviews-top__info {
	    padding-left: 40px;
	}
	.reviews-top{
		margin-bottom: 40px;
	}
	.methods__icon{
		display: none;
	}
	.accordeon__link {
	    font-size: 18px;
	        padding: 20px 35px 20px 0px;
	}
	.methods .accordeon__item {
	    padding: 0 20px;
	}
	.accordeon__link:after {
	    top: 30px;
	}
	.methods__item .who__item:after,
	.methods__item .who__item--double .who__item--double__item:after,
	.methods__item .who__item--prev:before{
		display: none!important;
	}
	.who-add{
		display: none;
	}
	.methods__item .who__list {
	    flex-wrap: wrap;
	}
	.who__item{
		width: 50%;
		&.who__item--double{
			width: 100%;
			display: flex;
		}
	}
	.who__item--double__item:first-child {
	    margin: 0;
	   
	}
	.who__item--double__item{
		 width: 50%;
	}
	.who__list--double {
	    padding-top: 0;
	}
	.benefits__item {
	    width: 50%;
	    padding-right: 20px;
	}
	.benefits__list{
		margin-right: -20px;
	}
	.methods__item--corporative .who__icon:after{
		display: none;
	}
	.individual__item{
		width: 50%;
	}
	.card .individual__list {
	    margin-right: -20px;
	}
	.card .individual__item {
	    padding-right: 20px;
	}
	.card-benefits .benefits__list{
		flex-wrap:wrap;
	}
	.card-benefits .benefits__item{
		width: 50%;
	}
	.our-benefits__item:nth-child(even) .our-benefits__info{
		padding-top: 0;
		padding-left: 15px;
	}
	.our-benefits__item:nth-child(odd) .our-benefits__info{
		padding-right: 15px;
	}
	.our-projects__item {
	    padding: 0 8px;
	}
	.our-projects__slider .slick-list {
	    margin: 0 -8px;
	}
	.results__list {
	    padding-right: 0;
	    flex-wrap:wrap;
	        justify-content: flex-start;
	}
	.results__item {
	    width: 33.333%;
	    margin-bottom: 30px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.results__number--large {
	    margin-left: 0;
	}
	.results__number--hours {
	    top: -24px;
	}
	.reviews-video__item {
	    padding: 0 8px;
	}
	.reviews-video__slider .slick-list {
	    margin: 0 -8px;
	}
	.offers-top__item {
	    padding-right: 20px;
	}
	.offers-top{
		margin-right: -20px;
	}
	.offers-top__inner{
		padding: 20px;
		    min-height: 400px;
	}
	.offers-add__list{
		flex-wrap:wrap;
		justify-content: flex-start;
	}
	.offers-add__item{
		width: 33.333%;
		margin-bottom: 20px;
	}
	.page-tour {
	    padding: 40px 0;
	}
	.cost-rent-price span {
	    font-size: 36px;
	    line-height: 62px;
	}
	.cost-rent-price {
	    font-size: 18px;
	    line-height: 28px;
	}
	.cost-rent__title {
	    font-size: 18px;
	    line-height: 22px;
	    margin-bottom: 20px;
	}
	.layout--course{
		.accordeon__link:after {
		    top: 25px;
		}
	}
	.who__title {
	    font-size: 18px;
	}
	.person {
	    width: 275px;
	    img{
			max-width: 100%;
	    }
	}
	.get-bonus__wrap{
		flex-wrap:wrap;
		flex-direction: column-reverse;
	}
	.get-bonus__price {
	    justify-content: center;
	}
	.get-bonus__advertising {
	    text-align: center;
	}
	.get-bonus__sum {
	    flex-basis: inherit;
	    margin-bottom: 20px;
	}
	.results__icon {
	    left: 70px;
	    position: absolute;
	    right: auto!important;
	}
	.after__txt {
	    font-size: 18px;
	}
	.course-docs__title {
	    font-size: 18px;
	}
	.docs-start__item {
	    padding-right: 30px;
	}
	.docs-start h2{
		margin-bottom: 30px;
	}
	.docs-note{
		width: 100%;
	}
	.teacher-slider__item {
	    padding: 0;
	}
	.timer_item {
	    font-size: 60px;
	    line-height: 78px;
	    min-width: 70px;
	}
	.course-cabinet__item{
		padding: 10px 15px;
		font-size: 14px;
	}
	.course-cabinet__title{
		font-size: 16px;
	}
	.course-cabinet-slider .slick-slide > div,
	.course-cabinet-slider-mobile .slick-slide > div{
	    height: 320px;
	}
	.course-cabinet-list {
	    width: 350px;
	}
	.course-cabinet-wrap{
		display: none;
	}
	.course-cabinet-wrap-mobile{
		display: block;
	}
	.layout--page{
		overflow: hidden;
	}
}

@media screen and (max-width: 900px){
	.top-nav, .top-links {
	    font-size: 12px;
	}
	.phone-link-toggle {
	    height: 37px;
	}
	.phone-link-toggle:before {
	    top: 7px;
	}
	.courses-toggle-link{
	    padding: 7px 5px 8px;
	}
	.top-nav_link {
	    margin-right: 10px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.phone-list, .cabinet-list, .courses-panel {
	    width: 265px;
	}
	.courses-panel{
		    margin-left: -152px;
	}
	.office-link-toggle {
	    padding: 10px 6px;
	}
	.logo {
	    width: 175px;
	}
	.about-slider__person {
	    width: 100%;
	    margin-right: 0;
	}
	.about-slider{
		padding-top: 70px;
	}
	.about-slider__item{
		flex-wrap: wrap;
	}

	.courses-panel .timetable-slider__item {
	    width: 230px;
	}
	.courses-panel {
		.timetable-slider__title {
		    font-size: 14px;
		}
		.timetable-slider__info {
		    font-size: 14px;
		}
		.timetable-slider__more {
		    padding: 3px 8px;
		    font-size: 14px;
		}
	}
	.about-slider__arr{
		display: none;
	}
	.about-slider__rev{
		margin-top: 20px;
	}
	.about-add {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.about-note{
		width: 100%;
		padding-left: 0;
		margin-top: 0;
	}
	.about__top{
		flex-wrap:wrap;
	}
	.way__item {
	    width: 33.333%;
	}
	.way__item.way__item--lg{
		width: 100%;
	}
	.who__icon,
	.why__icon{
	    height: 100px;
	    margin-bottom: -5px;
	}
	.who__icon:before,
	.why__icon:before{
	    width: 140px;
	    height: 140px;
	}
	.get-top__wrap{
		padding: 0;
		flex-wrap:wrap;
	}
	.get-top__item {
	    width: 50%;
	    text-align: center;
	}
	.get-top__number {
	    margin: 0 auto;
	}
	.get-top__txt {
	    text-align: center;
	    min-width: inherit;
	    position: static;
	}
	.why-video__person {
	    width: 50%;
	}
	.course-docs__list{
		padding: 30px 40px 0;
		margin-right: 0;
		.slick-slide{
			padding: 0 10px;
		}
		.slick-arrow {
		    width: 13px;
		    height: 23px;
		    border: 0 !important;
		    border-radius: 0;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		    margin-top: 0;
			top: 115px;
		}
		.slick-next {
		    right: 0px;
		    background: url(../img/svg/next-min.svg) center no-repeat;
		}
		.slick-prev {
		    left: 0px;
		    background: url(../img/svg/prev-min.svg) center no-repeat;
		}
	}
	.course-docs__item {
	    margin-top: 0;
	    padding-right: 0;
	}
	.course-docs__img{
		box-shadow:none;
	}
	.course-docs-top__img{
		display: none;
	}
}

@media screen and (max-width: 850px){
	.latest__slider .slick-list {
	    margin: 0 -8px;
	}
	.latest__item{
		padding: 0 8px;
	}
}

@media screen and (max-width: 800px){
	.speaker-wrap{
		flex-wrap: wrap;
	}
	.speaker__info{
		width: 100%;
	}
	.speaker-img {
	    width: auto;
	    min-width: inherit;
	    margin-right: 0;
	    margin-bottom: 30px;
	}
	.speaker-img__in{
		&+div{
			display: none!important;
		}
	}
	.course-top__info {
	    width: 100%;
	    h1,.course-top__add{
	    	br{
	    		display: none;
	    	}
	    }
	}
	.layout--course{
		.who__list {
		    margin: 0;
		    padding: 0 40px;
		    .slick-arrow {
			    width: 13px;
			    height: 23px;
			    border: 0 !important;
			    border-radius: 0;
			    -webkit-box-shadow: none;
			    box-shadow: none;
				margin: 0;
				top: 100px;
			}
			.slick-next {
			    right: 0px;
			    background: url(../img/svg/next-min.svg) center no-repeat;
			}
			.slick-prev {
			    left: 0px;
			    background: url(../img/svg/prev-min.svg) center no-repeat;
			}
		}
		.who__icon:before {
    		left: -5px;
    	}

	}
	.why__list {
	    margin: 0;
	    padding: 0 40px;
	    .slick-arrow {
		    width: 13px;
		    height: 23px;
		    border: 0 !important;
		    border-radius: 0;
		    -webkit-box-shadow: none;
		    box-shadow: none;
			margin: 0;
			top: 100px;
		}
		.slick-next {
		    right: 0px;
		    background: url(../img/svg/next-min.svg) center no-repeat;
		}
		.slick-prev {
		    left: 0px;
		    background: url(../img/svg/prev-min.svg) center no-repeat;
		}
	}
	.why__icon:before {
		left: -5px;
	}
	.what__item {
	    width:50%;
	}
	.course-speaker .speaker__info {
	    padding-top: 0;
	    min-width: 100%;
	}
	.course-speaker .speaker-img{
		min-width: 100%;
	}
	.course-speaker {
		.speaker-add{
			margin-left:0;
		}
		.speaker-wrap {
		    padding-top: 0;
		}
	}
}

@media screen and (max-width: 767px){
	.workarea {
	    line-height: 1.2;
	    h1{
	    	font-size: 40px
	    }
	    h2{
	    	font-size: 32px;
	    }
	    h3{
	    	font-size: 28px;
	    }
	    table{
	    	font-size: 16px;
	    }
	    th{
	    	padding: 4px 10px;
	    }
	    td{
	    	padding: 4px 10px;
	    }
	    blockquote {
		    font-size: 20px;
		    padding-bottom: 10px;
		}
	}
	.letter__title{
		font-size: 18px;
	}
	.workarea h2.h1,
	.questions-main h2 span{
	    font-size: 32px;
	}
	.page-top .page-title h1,
	.page-title h1{
		font-size: 40px;
	}
	.latest__title h2,
	.subscription h2,
	.contacts__info h2,
	.webinar h2,
	.about h2,
	.individual h2,
	.card h2,
	.card-benefits h2,
	.consultation--corp h2,
	.consultation h2,
	.requisites h2,
	.our-projects h2,
	.offers h2,
	.offers-gen h2.h1,
	.cost-rent h2,
	.page-tour h2,
	.page-tour h2,
	.videolibrary h2{
		font-size: 32px;
		margin-bottom: 25px;
	}
	.conference h2{
		margin-bottom: 25px;
	}
	.marketing h3{
		font-size: 28px;
	}
	.blockquote-wrap {
	    padding: 10px 20px 10px 15px;
	    margin-bottom: 0;
	}
	.blockquote-wrap:before {
		width: 58px;
		height: 48px;
		left: -5px;
		top: -4px;
	}
	.requisites__item {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.requisites-phones {
	    margin: 20px 0;
	}
	.contacts-address__item{
		width: 100%;
	}
	.contacts-address__item:first-child {
	    padding-right: 0;
	    width: 100%;
	}
	.img-wrap{
		padding-top: 0;
	}
	.contacts {
	    min-height: auto;
	}
	.contacts__info{
		width: 100%;
		padding: 40px 0;
	}
	#contacts-map {
	    position: relative;
	    width: 100%;
	    height: 300px;
	}
	.contacts__howTo,
	.contacts__mail,
	.contacts__add{
		margin-bottom: 20px;
	}
	.contacts__phone{
		margin-bottom: 20px;
		&+.contacts__phone{
			margin-bottom: 20px;
		}
	}
	.contacts__add{
		br{
			display: none;
		}
	}
	.img-multiple{
		margin-right: -8px;
	}
	.img-multiple__item {
	    padding-right: 8px;
	    margin-bottom: 8px;
	}
	.latest {
	    padding-top: 40px;
	}
	.marketing,
	.promotion{
		padding: 40px 16px;
	}
	a.breadcumbs__item:after{
		margin: 0 7px;
	}
	.breadcumbs__wrap{
		font-size: 14px;
	}
	.page-top__add--lg {
	    padding-bottom: 20px;
	}
	.conference__item {
	    padding: 40px;
	}
	.about-wrap {
	    padding-top: 0;
	    flex-wrap: wrap;
	}
	.about-slider-wrap {
	    margin-right: 0;
	    width: 100%;
	}
	.about-youtube-slider-wrap {
	    margin-left: 0;
	    width: 100%;
	}
	.all-reviews,
	.all-youtube-video{
	    position: static;
	}
	.about-youtube-slider-wrap,
	.about-slider-wrap {
	    padding-bottom: 0;
	}
	.webinar__list {
	    margin-right: 0;
	    flex-wrap: wrap;
	}
	.webinar__list--three .webinar__item,
	.webinar__list--two .webinar__item{
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 40px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.webinar__txt {
	    margin-bottom: 15px;
	}
	.webinar__list--single .webinar__item {
	    flex-wrap: wrap;
	}
	.webinar__list--single .webinar__add {
	    margin-left: 0;
	    padding-left: 0;
	    &:before{
	    	display: none;
	    }
	}
	.webinar__list--single .webinar__add {
	    width: 400px;
	    min-width: auto;
	}
	.webinar__info {
	    padding-right: 0;
	    width: auto;
	    min-width: auto;
	}
	.webinar__add {
	    flex-direction: column;
	    max-width: 400px;
	}
	.theme__in,
	.page-content .consultation__inner,
	.consultation__inner,
	.consultation--corp .consultation__inner,
	.consultation--404 .consultation__inner{
	    padding: 140px 20px 40px 20px;
	}
	.theme__img,
	.page-content .consultation__icon,
	.consultation__icon{
	    right: 50%;
	    transform: translateX(50%);
	    top: -45px;
	}
	.consultation--404 .consultation__icon {
	    top: -30px;
	}
	.page-top__list {
	    margin-right: -10px;
	}
	.page-top__item {
	    width: 50%;
	    margin-bottom: 20px;
	    padding-right: 10px;
	}
	.page-footer__wrap {
	    margin-right: 0;
	    flex-wrap: wrap;
	}
	.page-footer__item {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 30px;
		display: flex;
		flex-direction: column;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.page-footer__title{
		order: 2;
		    margin-bottom: 10px;
	}
	.page-footer__inner{
		order: 1;
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid #D5DCDC;
    	margin-bottom: 24px;
    	    justify-content: space-between;
	}
	.page-footer__links {
	    order: 3;
	    padding-bottom: 0;
	}
	.page-footer__logo {
	    margin: 0 0 20px;
	    min-width: 100%;
	}
	.show-more-link {
	    padding-top: 10px;
	    order: 4;
	    margin-top: 15px;
	}
	.page-footer__hidden {
	    order: 4;
	    margin-top: 6px;
	}
	.copyright {
	    margin-bottom: 10px;
	}
	.page-footer__link{
		margin-bottom: 6px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.page-header__wrap{
		display: none;
	}
	.date {
	    font-size: 14px;
	}
	.subscription{
		padding-bottom: 0;
		padding-top: 0;
		.container-fluid{
			padding-left: 0;
			padding-right: 0;
		}
	}
	// .contacts.grey-sqheme {
	//     border-top: 0;
	// }
	.subscription .checkbox-item {
	    max-width: 100%;
	    left: 0;
	    // padding: 0 20px;
	}
	.subscription-form {
	    max-width: 100%;
	    margin: 0 auto 20px;
	    // padding: 0 20px;
	}

	.subscription__wrap {
	    text-align: left;
	    padding: 30px 20px;
	}
	.subscription .socials{
		justify-content: flex-start;
		margin-bottom: 20px;
	}
	.subscription__more {
	    max-width: 100%;
	}
	.menu-mobile-btn{
		display: inline-block;
	}
	.logo{
		margin-top: 0;
	}
	.page-header__in {
	    justify-content: space-between;
	}
	.page-header{
		padding: 8px 0;
		&.fixed{
			padding: 8px 0;
			.logo{
				height: 40px;
			}
		}
	}
	.news__title{
		padding: 15px;
	}
	.news__list{
		margin: 0 -8px;
	}
	.news__item{
		padding: 0 8px;
		margin-bottom: 20px;
	}
	.news__txt{
		padding: 0 15px;
	}
	.page-content .subscription__wrap {
	    padding: 30px 20px;
	}
	.programms {
	    padding: 50px 0 0;
	}
	.recruitment{
		flex-wrap:wrap;
	}
	.recruitment__item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.programms__bottom .btn {
	    font-size: 16px;
	    padding: 9px 10px;
	}
	.programms__bottom .btn + .btn-alt {
	    margin-left: 10px;
	}
	.programms__bottom .btn-alt{
		 padding: 7px 10px;
		 font-size: 16px;
	}
	.programms__cost {
	    margin-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
	}
	.programms__bottom .programms__inner{
		flex-wrap:wrap;
	}
	.cost-title {
	    display: inline-block;
	}
	.programms__top {
	    padding: 30px 0;
	}
	.recruitment {
	    margin-top: 20px;
	    padding-top: 20px;
	}
	.career__in{
		padding: 155px 20px 40px 20px;
	}
	.career__img{
		right: 50%;
		transform: translateX(50%);
		top: 8px;
		    width: 140px;
	}
	.career h2{
		font-size: 28px;
	}
	.why__item,
	.questions-top__item,
	.questions-main__item{
	    width: 50%;
	}
	.questions-main__list {
	    justify-content: flex-start;
	}
	.way__item{
		width: 50%;
	}
	.all-youtube-video {
	    margin-top: 30px;
	}
	.videolibrary {
	    padding: 40px 20px;
	}
	.videolibrary__list {
	    transform: none;
	}
	// .videolibrary__item {
	//     width: auto;
	//     margin-bottom: 20px;
	//     &:last-child{
	//     	margin-bottom: 0;
	//     }
	// }
	.videolibrary__item:before {
	    left: 50%;
	    transform: translateX(-50%);
	}
	.videolibrary__txt {
	    max-width: 100%;
	    padding: 0 20px;
	    text-align: center;
	}
	.videolibrary__num {
	    font-size: 40px;
	    line-height: 40px;
	    text-align: center;
	}
	.videolibrary__title {
	    padding-left: 0;
	    text-align: center;
	}
	.speaker-list__item {
	    width: 50%;
	}
	.speaker-filter{
		flex-wrap:wrap;
	}
	.speaker-filter__links{
		margin-left: 0;
		width: 100%;
		border: 0;
		margin-top: 10px;
	}
	.tabs{
		    border: 2px solid #fff;
		    border-radius: 8px;
	}
	.speaker-list-horizontal-img {
	    max-width: 300px;
	    min-width: 300px;
	}
	.speaker-list-horizontal__title,
	.speaker-list-horizontal__position,
	.speaker-list-horizontal__txt,
	.speaker-list-horizontal__courses,
	.speaker-list-horizontal__courses h5,
	.speaker-list__info{
	    font-size:14px;
	}
	.speaker__item {
	    margin-bottom: 30px;
	}
	.reviews-top__item {
	    width: 100%;
	    margin-bottom: 30px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.reviews-top__info{
		padding-left: 0;
	}
	.reviews-top-video{
		margin-bottom: 40px;
	}
	.more-reviews__wrap{
		margin-right: 0;
	}
	.more-reviews__item {
	    padding-right: 0;
	    width: 100%;
	}
	.course-top__icon {
	    width: 320px;
	    height: 200px;
	    img{
	    	max-width: 100%;
	    }
	}
	.interest{
		padding: 140px 20px 40px 20px;
	}
	.interest__icon{
		right: 50%;
	    transform: translateX(50%);
	}
	.card .individual__list{
		margin-right: 0;
	}
	.card .individual__item {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 45px;
	}
	.page404 {
	    flex-wrap: wrap;
	}
	.page404__main h1{
		margin: 0;
		font-size: 165px;
	}
	.page-top-labels__item {
	    margin-right: 15px;
	    margin-bottom: 15px;
	    font-size: 14px;
	    padding: 6px 10px;
	}
	.more-info {
	    padding: 40px 0;
	}
	.our-benefits__item {
	    margin-bottom: 30px;
	    flex-wrap: wrap;
	}
	.our-benefits__img{
		width: 100%;
	}
	.our-benefits__item:nth-child(even) .our-benefits__img{
		text-align: left;	
	}
	.our-benefits__item:nth-child(odd) .our-benefits__img{
		order: 1;
	}
	.our-benefits__item:nth-child(odd) .our-benefits__info {
	    padding-right: 0;
	    order: 2;
	}
	.our-benefits__item:nth-child(even) .our-benefits__info {
	    padding-left: 0;
	}
	.our-benefits__info{
		width: 100%;
	}
	.our-benefits__item:nth-child(odd) .our-benefits__info{
		    justify-content: flex-start;
	}
	.our-benefits__item:nth-child(odd) .our-benefits__top{
		max-width: 100%;
	}
	.our-benefits__item:nth-child(odd) .our-benefits__number {
	    text-align: left;
	}
	.our-benefits__item:nth-child(odd) .our-benefits__number:before{
		transform: translateX(-100px);
    	left: -40px;
    	right: auto;
	}
	.reviews__wrap{
		margin-right: 0;
	}
	.reviews__item {
	    width: 100%;
	    padding-right: 0;
	}
	.offers-top__item {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.offers-top {
	    margin-right: 0;
	    margin-bottom: 40px;
	    flex-wrap: wrap;
	}
	.offers {
	    padding: 40px 0;
	}
	.cost-rent-wrap {
	    display: flex;
	    flex-wrap: wrap;
	}
	.cost-rent__item{
		width: 100%;
	}

	.cost-rent__info:after{
		display: none;
	}
	.offers-add__item,
	.offers-gen__item{
	    width: 100%;
	    min-width: 100%;
	    padding-left: 0;
	    margin-bottom: 30px;
	        display: flex;
    	align-items: center;
    	margin-right: 0;
	}
	.offers-gen__item{
		min-height: 90px;
		padding-top: 0;
	}
	.offers-add__img:before{
		top: -10px;
	    left: 0px;
	    width: 100px;
	    height: 100px;
	}
	.offers-gen__img:before{
		top: 0;
	    left: 0px;
	    width: 100px;
	    height: 100px;
	}
	.offers-gen__info{
		br{
			display: none;
		}
	}
	.offers-gen:last-child .offers-gen__img:before {
	    top: 0;
	}
	.offers-gen:last-child .offers-gen__img {
	    margin-bottom: 0;
	}
	.offers-add__img,
	.offers-gen__img{
		height: auto;
	    width: 100px;
	    min-width: 100px;
	    margin-right: 20px;
	}
	.offers-gen__img {
	    text-align: center;
	    margin-bottom: 0;
	        min-height: 90px;
    line-height: 90px;
    vertical-align: middle;
	}
	.offers-gen__img img {
	    display: inline-block;
	    vertical-align: middle;
	}
	.offers-add__txt{
		max-width: 100%;
	}
	.offers-add-more{
		display: none;
	}
	.offers-gen__txt {
	    margin-bottom: 40px;
	}
	.layout--course .container-fluid .subscription {
	    margin: 0;
	}
	.layout--course{
		.jobs + .subscription + .question {
		    padding-top: 40px;
		}
	}
	.training__img {
	    margin-top: -124px;
	}
	.why-video {
	    flex-wrap: wrap;
	}
	.why-video__cabinet {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.why-video__person {
	    width: 100%;
	    padding-left: 0;
	}
	.why-video__person .video-item,
	.why-video__cabinet .video-item{
		height: 288px;
	}
	.get-bonus__top{
		text-align: center;
	}
	.get-bonus-add{
		flex-wrap:wrap;
	}
	.get-bonus-add__item {
	    width: 50%;
		margin: 0 0 20px 0; 
		padding: 0 28px;
		font-size: 14px;
		line-height: 18px;
	}
	.get-bonus__price {
	    font-size: 40px;
	    line-height: 46px;
	    img{
	    	max-width: 50px;
	    }
	}
	.get-bonus__top {
	    font-size: 20px;
	}
	.after__wrap {
	    margin-right: -20px;
	}
	.after__item {
	    width: 50%;
	    margin-bottom: 20px;
	    padding-right: 20px;
	}
	.after__icon{
		left: 0;
	}
	.course-docs__txt {
	    line-height: 1.2;
	    font-size: 14px;
	}
	.course-docs__title {
	    font-size: 16px;
	}
	.course-docs__img{
		margin-bottom: 20px;
	}
	.course-docs__pre {
	    width: 100%;
	}
	.docs-add {
	    padding: 30px;
	    flex-wrap: wrap;
	}
	.docs-add__img {
	    margin-right: 0;
	    width: 100%;
	    text-align: center;
	    margin-bottom: 10px;
	}
	.teacher-slider__img{
		margin-bottom: 20px;
	}
	.teacher-slider__title {
	    font-size: 18px;
	}
	.teacher-slider__txt{
		font-size: 14px;
	}
	.speaker-add {
	    font-size: 14px;
	    line-height: 18px;
	}
	.programm__download{
		display: none;
	}
	.programm__add {
	    max-width: 100%;
	    margin-bottom: 20px;
	}
	.warranty__txt {
	    font-size: 16px;
	        margin-top: -20px;
	}
	.warranty__icon{
		padding-left: 0;
	}
	.warranty__icon:before {
	    left: 0;
	    width: 120px;
    	height: 120px;
    	top: 10px;
	}
	.warranty__icon img {
	    max-width: 95px;
	}
	.warranty__item {
    	padding-right: 20px;
    	margin-bottom: 20px;
	}
	.warranty__list{
		margin-right: -20px;
	}
	.letter{
		flex-wrap:wrap;
		    padding: 30px 180px 30px 30px;
    	position: relative;
	}
	.letter__info{
		width: 100%;
	}
	.letter__download {
	    width: 100%;
	    padding: 0;
	    margin-top: 20px;
	    position: static;
	    margin-left: 0;
	}
	.letter__download:before {
	    position: absolute;
	    right: 0;
	    top: 50%;
	    left: auto;
	    transform: translateY(-50%);
	    width: 150px;
	    height: 150px;
	}
	.letter__title:after{
		display: none;
	}
	.timer_item {
	    font-size: 40px;
	    line-height: 50px;
	    min-width: 45px;
	}
	.timer_delimetr {
	    width: 26px;
	    font-size: 26px;
	}
	.cost-counting__add {
	    font-size: 18px;
	}
	.cost-table .btn {
	    padding: 5px 10px;
	    font-size: 14px;
	}
	.cost-table__price span {
	    font-size: 20px;
	}
	.popup-title {
	    font-size: 24px;
	    line-height: 26px;
	    margin-bottom: 20px;
	}
	.popup-add {
	    font-size: 20px;
	    line-height: 22px;
	    margin-bottom: 20px;
	}
	.error-msg {
	    margin: 5px 0;
	}
	.popup .input-wrap {
	    margin-bottom: 15px;
	}
	.popup .submit-wrap{
		margin-bottom: 20px;
	}
	.consultation--404 .consultation__inner {
	    margin-top: 50px;
	}
	.offers-gen {
	    min-height: auto;
	}
	.offers-gen__list{
		&.slick-initialized{
			display: block;
			padding: 0 80px;
			.offers-gen__item{
				margin-bottom: 0;
				padding: 0 10px;
				 text-align: center;
				     min-height: 128px;
			}
			.offers-gen__img {
    			text-align: center;
    			&:before {
				    left: 50%;
				    transform: translateX(-50%);
				    top: 0;
				}
    		}
    		.offers-gen__info{
    			text-align: center;
    		}
		}
	}
	.reviews-slider {
	    padding: 18px 45px 0;
	}
	.reviews__msg {
	    width: calc(100% - 10px);
	}
	.layout--reviews{
		overflow: hidden;
	}
	
	.our-benefits__info{
		order:1!important;
		margin-bottom: 20px;
	}
	.our-benefits__img{
		order:2!important;
		margin-bottom: 0;
	}
	.our-benefits-in{
		&.slick-initialized{
			padding: 0 80px;
			.our-benefits__number:before {
			    width: 150px;
			    height: 150px;
			    left: 0;
			        transform: translateX(10px);
			}
			.our-benefits__info{
				padding: 0 30px;
			}
			.our-benefits__img img {
			    box-shadow: none;
			}
			.our-benefits__number span {
			    text-shadow: none;
			    background: transparent;
			    color: #FF6B00;
			    -webkit-text-fill-color: #FF6B00;
			}
			.our-benefits__item {
			    margin-bottom: 0;
			    padding: 0 10px;
			}
		}
	}
	.layout--about{
		overflow: hidden;
	}
	.layout--course{
		overflow: hidden;
	}
	.questions-top__list,
	.questions-main__list{
		&.slick-initialized{
			display: block;
			padding: 0 30px;
		}
		.questions-top__item,
		.questions-main__item{
			padding: 0 10px; 
			margin: 0; 
		}
		.questions-top__img:before,
		.questions-main__num:before{
			left: 0;
		}
		.questions-top__txt{
			padding-left: 0;
			line-height: 1.2;
		}
		.questions-main__title,
		.questions-main__txt{
			padding-left: 0;
		}
		.slick-arrow {
		    width: 22px;
		    height: 40px;
		    border: 0 !important;
		    border-radius: 0;
		    box-shadow:none;
		}
		.slick-next {
		    right: 0px;
		    background: url(../img/svg/next.svg) center no-repeat;
		}
		.slick-prev {
		    left: 0px;
		    background: url(../img/svg/prev.svg) center no-repeat;
		}
	}
	.questions-main__list,
	.questions-top__list{
	    margin-right: 0;
	}
	.page-content{

		.consultation__inner{
			padding-top: 50px;
		}
		.consultation__icon {
			transform: none;
		    top: 0;
		    position: static;
		    text-align: center;
		    width: 100%;
		    height: 150px;
		    margin: -35px 0 20px;
			img{
				display: inline-block;
				max-height: 100%;
			}
		}
	}
	.about-slider__item{
		padding-right: 0;
	}
	.about-slider__rev{
		margin-top: 40px;
	}
	.about-slider__arr {
	    display: block;
	    right: auto;
	    left: 30px;
	    top: -35px;
	    transform: rotate(90deg);
	    border-width: 0px 35px 35px 0;
	    &:before{
	    	width: 35px;
	    }
	    &:after{
	    	    width: 47px;
	    	    transform: rotate(45deg);
	    }
	}
	.about-slider__person {
	    display: flex;
	}
	.about-slider__img {
	    margin-bottom: 0;
	    margin-right: 20px;
	}
	.about-slider,
	.about-youtube-slider{
	    padding: 0 50px;
	}
	.about-pagingInfo,
	.about-youtube-pagingInfo{
		display: none;
	}
	.about-slider .slick-arrow{
		top: 50px;
	}
	.about-youtube-slider .slick-arrow{
		top: 100px;
	}
	.about-slider .slick-next,
	.about-youtube-slider .slick-next{
		right: 0;
	}
	.about-slider .slick-prev,
	.about-youtube-slider .slick-prev{
		right: auto;
		left: 0;
	}
	.all-reviews, .all-youtube-video{
		text-align: center;
	}

	.contacts__howTo {
	    display: inline-block;
	}
	.about-slider-wrap{
		margin-bottom: 30px;
	}
	.phone-link-toggle,
	.page-header.fixed .phone-link-toggle{
		background: transparent!important; 
		width: 20px;
	    height: 21px;
	    margin-top: 4px;
	    border: 0;
	    &:before{
	    	width: 20px;
    		height: 21px;
	    	left: 0;
	    	top: 0;
	    	background: url(../img/svg/mobile.svg) no-repeat!important;
	    }
	    &:after{
	    	display: none!important;
	    }
	}
	.phone-list__title{
		display: none;
	}
	.phone-list{
	    padding: 15px;
	    width: 200px;
	    margin-top: 10px;
	}
	.phone-call{
		margin-left: 0;
	}
}

@media screen and (max-width: 700px){
	.contact__items {
	    margin-right: 0;
	    flex-wrap: wrap;
	}
	.contact__item{
		padding-right: 0;
		width: 100%;
		margin-bottom: 30px;
	}
	.contact__title {
	    font-size: 18px;
	}
	.contact__img {
	    margin-bottom: 15px;
	}
	.about-top__wrap{
		flex-wrap:wrap;
	}
	.about-top__info {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.about-top__img {
	    width: 100%;
	    padding-left: 0;
	}
	.cost-table--mobile{
		display: block;
	}
	.cost-table--desktop{
		display: none;
	}
	.cost h2{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 600px){
	.workarea {
	    h1{
	    	font-size: 28px
	    }
	    h2{
	    	font-size: 24px;
	    }
	    h3{
	    	font-size: 22px;
	    }
	    h4{
	    	font-size: 20px;
	    }
	    table{
	    	font-size: 14px;
	    }
	    blockquote {
		    font-size: 14px;
		}
	}
	.letter__title{
		font-size: 24px;
	}
	.workarea h2.h1,
	.questions-main h2 span{
	    font-size: 24px;
	}
	.page-top .page-title h1, .page-title h1 {
	    font-size: 28px;
	}
	.img-multiple--4 .img-multiple__item {
	    width: 50%;
	}
	.share{
		flex-wrap:wrap;
	}
	.share__msg{
		margin-right: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	.webinar__add,
	.webinar__list--single .webinar__add {
	    width: 100%;
	    max-width: 100%;
	}
	.conference__item {
	    padding: 20px;
	}
	.page-footer .socials__item{
		width: 24px;
		height: 24px;
		margin-right: 8px;
		&:last-child{
			margin-right: 0;
		}
	}
	#contacts-map,
	.contacts-address__map{
	    height: 200px;
	}
	.latest__title h2,
	.subscription h2,
	.contacts__info h2,
	.webinar h2,
	.about h2,
	.individual h2,
	.card h2,
	.card-benefits h2,
	.consultation--corp h2,
	.consultation h2,
	.requisites h2,
	.our-projects h2,
	.offers h2,
	.offers-gen h2.h1,
	.cost-rent h2,
	.page-tour h2,
	.page-tour h2,
	.videolibrary h2{
	    font-size: 24px;
	    margin-bottom: 20px;
	}
	
	.contacts__phone {
    	font-size: 14px;
    	margin-bottom: 8px;
    	&:last-child{
    		margin-bottom: 0;
    	}
    }
    .marketing h3 {
	    font-size: 22px;
	}
	.btn,
	.btn-alt{
		padding: 7px 13px;
		font-size: 14px;
	}
	.marketing .btn,
	.consultation .btn{
		padding: 10px 18px 11px;
		font-size: 14px;
	}
	.programms__bottom .btn,
	.programms__bottom .btn-alt{
		font-size: 14px;
	}
	.video-link {
	    width: 50px;
	    height: 50px;
	    background-size: cover;
	}
	.latest__slider {
	    padding: 0 37px;
	}
	.latest__img {
	    height: 220px;
	}
	.slick-arrow{
		width: 13px;
		height: 23px;
		border: 0!important;
		border-radius: 0;
		box-shadow:none;
	}
	.slick-prev {
	    left: 0px;
	    background: url(../img/svg/prev-min.svg) center no-repeat;
	}
	.slick-next {
	    right: 0px;
	    background: url(../img/svg/next-min.svg) center no-repeat;
	}
	.latest__slider .slick-arrow {
	    top: 95px;
	}
	.workarea blockquote:before {
	    width: 38px;
	    height: 34px;
	    background-size: contain;
	    bottom: -20px;
	    right: -20px;
	}
	.blockquote-wrap:before {
	    width: 38px;
	    height: 34px;
	    background-size: contain;
	    left: -8px;
	    top: 1px;
	}
	.news__list {
	    margin: 0;
	}
	.news__item {
	    padding: 0;
	    width: 100%;
	}
	.paging__item {
	    margin-right: 15px;
	    font-size: 16px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.paging__item--prev{
		margin-right: 20px;
	}
	.paging__item--next{
		margin-left: 20px;
	}
	.news-top__item--complex .news__img{
		width: 100%;
		    height: auto;
	}
	.news-top__item--lg .news__title {
	    font-size: 18px;
	}
	.news-top__item--lg .news__img {
	    height: auto;
	    min-height: 200px;
	}
	.speakers-slider {
	    padding: 0 40px;
	}
	.speakers-slider__item {
	    padding: 0 8px;
	}
	.speakers-slider .slick-list {
	    margin: 0 -8px;
	}
	.speakers-slider .slick-arrow {
	    top: 165px;
	}
	.timetable,
	.why-page{
	    padding: 35px 0;
	}
	.questions-main h2{
		margin-bottom: 20px;
	}
	.way__item {
	    width: 100%;
	    min-height: 150px;
	}
	.index-way {
	    padding-bottom: 30px;
	}
	.about-note__inner {
	    align-items: flex-start;
	    flex-wrap:wrap;
	}
	.about-note__txt {
	    width: 100%;
	        padding-top: 10px;
	}
	.about-note__rate {
	    margin-right: 0;
	    top: 10px;
	}
	.way__title,
	.way__add,
	.videolibrary__info,
	.videolibrary__title,
	.guarantees__title {
	    font-size: 14px;
	}
	.about-youtube-pagingInfo{
	    top: 25px;
	    right: 45px;
	}
	.about-pagingInfo{
		top: 25px;
	    right: 60px;
	}
	.videolibrary {
	    padding: 40px 20px;
	}
	.speaker-list__item {
	    width: 100%;
	}
	.speaker-list-horizontal-img {
	    max-width: 100%;
	    min-width: 100%;
	    height: 248px;
	    margin: 0;
	}
	.speaker-filter__links ul {
	    font-size: 14px;
	}
	.speaker-filter__link {
	    padding: 4px 7px;
	}
	.speaker-list-horizontal__item{
		flex-wrap:wrap;
		margin: 0;
	}
	.speaker-list-horizontal__info {
	    margin-left: 20px;
	}
	.speaker-slider {
	    padding: 0 30px;
	}
	.speaker-slider .slick-dots{
		left: 0;
	}
	.speaker-slider__item {
	    padding: 0 5px;
	}
	.speaker-slider{
		.slick-arrow{
			    margin-top: -15px;
		}
	}
	.our-projects__slider .slick-arrow {
	    top: 140px;
	}
	.our-projects__img {
	    height: 300px;
	}
	.contact__img {
	    width: 100%;
	}
	.reviews__top{
		flex-wrap:wrap;
		justify-content: center;
	}
	.reviews__icon{
		margin-right: 0;
	}
	.reviews__item{
		padding-right: 0;
	}
	.reviews-slider {
	    padding: 18px 30px 0;
	}
	.reviews-top-slider{
		padding: 0 35px;
		box-shadow:none;
	}
	.reviews-top-slider .slick-dots{
		left: 0;
	}
	.page-top__list {
	    margin-right: 0;
	}
	// .page-top__item {
	//     width: 100%;
	//     padding-right: 0;
	// }
	.page-top__icon {
	    height: 85px;
	    padding-left: 20px;
	}
	.page-top__txt{
		padding-left: 0;
	}
	.contract__top{
		flex-wrap:wrap;
	}
	.contract__info {
	    padding-right: 0;
	    width: 100%;
	    order: 2;
	}
	.contract-download {
	    width: 100%;
		margin-bottom: 20px;
	    order: 1;
	}
	.methods {
	    padding-top: 40px;
	}
	.methods__item .who__item,
	.benefits__item{
		width: 100%;
	}
	.methods__item .who__item.who__item--double{
		align-items: flex-start;
	}
	.methods__item .who__item--double__item{
		display: flex;
		flex-direction: column;
		.who__info{
			margin-left: -15px;
		}
	}
	.methods__item .who__list--double .who__item .who__icon {
	    margin-bottom: 10px;
	}
	.methods__item .who__item,
	.benefits__item,
	.individual__item{
		padding: 0;
		//flex-wrap:wrap;
		display: flex;
		align-items: center;
		    width: 100%!important;
	   margin-bottom: 40px;
	   &:last-child{
	   	margin-bottom: 0;
	   }
	}
	.methods__item .who__list,
	.benefits__list,
	.individual__list{
		margin-right: 0;
	}
	.methods__item .who__icon,
	.benefits__icon,{
		min-height: auto;
		height: auto;
	    padding-left: 0;
		width: 80px;
		min-width: 80px;
		margin-right: 10px;
		    margin-bottom: -15px;
		        margin-left: -20px;
	}
	.card{
		.individual__list{
			padding: 0 0px 30px 30px;
		}
	}
	.card .individual__icon {
	    margin-bottom: -15px;
	}
	.individual{
		padding-left: 16px;
	}
	.individual__icon {
	    padding-left: 0;
	    width: 80px;
	    min-width: 80px;
	    margin-right: 10px;
	    margin-bottom: -15px;
	    margin-left: -20px;
	    height: 80px;
	}
	.individual__info{
		padding-left: 0;
		line-height: 1.2;
		font-size: 16px;
	}
	.individual__txt{
		font-size: 16px;
	}
	.who__add {
	    font-size: 16px;
	}
	.methods__item .who__info {
	    line-height: 1.2;
	}
	.methods__item .who__title {
	    line-height: 1.2;
	    min-height: auto;
	}
	.methods__item .who__icon:before,
	.benefits__item:before{
	    width: 85px;
	    height: 85px;
	    left: 0;
	    top: -10px;
	}
	.card-benefits .benefits__title {
	    margin-bottom: 10px;
	}
	.benefits__item:before{
		left: -25px;
		top: 50%;
		transform: translateY(-50%);
	}
	.page-top__buttons {
	        padding: 30px 0 0;
	    flex-wrap: wrap;
	    .btn{
	    	margin-right: 15px;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
	    }
	    .btn-alt{
	    	margin-bottom: 20px;
	    }
	}
	.benefits{
	    padding: 30px;
	}
	.benefits__icon img{
		max-width: 100%;
	}
	.benefits__txt {
	    padding-left: 0;
	    line-height: 1.2;
	    font-size: 16px;
	}
	.page404__main h1 {
	    font-size: 165px;
	}
	.our-projects__slider{
		padding: 0 40px;
	}
	.results__item {
	        width: 50%;
	}
	.reviews-video__slider{
		padding: 0 40px;
	}
	.reviews-video .video-item{
		margin-bottom: 0;
		box-shadow:none;
	}
	.reviews-video__slider .slick-arrow {
	    margin-top: -12px;
	}
	.offers-top__title {
	    font-size: 20px;
	    line-height: inherit;
	}
	.offers-top__inner{
		min-height: 300px;
	}
	.offers-add__item {
	    width: 100%;
	    margin-bottom: 40px;
	}
	.cost-rent-price .btn {
	    font-size: 14px;
	}

	.course-top{
		padding-bottom: 0;
		padding-top: 75px;
		text-align: center;
	}

	.course-top__items{
		background: rgba(60,60,60,0.6);
		padding: 33px 66px 48px;
		margin: 0 -16px 0;
		.slick-arrow{
			margin-top: -15px;
		}
		.slick-next {
	    	right: 16px;
	    }
	    .slick-prev {
	    	left: 16px;
	    }
	}
	.course-top__item{
		margin-right: 0;
		text-align: center;
	}
	.course-top__add {
	    border-bottom: 0;
	    padding-bottom: 0;
	}
	.jobs{
		padding: 40px 0;
	}
	.about{
		+.jobs{
			padding-top: 0;
		}
	}
	.course-nav{
	    background: rgba(60, 60, 60, 0.6);
	}
	.course-nav__link{
		background: transparent;
		display: none;
		&:first-child,
		&:last-child{
			display: flex;
			width: auto;
		}
	}
	.course-nav__wrap {
	    padding: 7px 0;
	    align-items: center;
	    justify-content: space-between;
	}
	.course-nav__link--sign{
		background: linear-gradient(180deg, #FF9900 0%, #FF6B00 100%);
		box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.2), inset 0px 2px 24px rgba(255, 206, 111, 0.6);
		border-radius: 8px;
		    padding: 9px 6px;
	}
	.course-nav__link:first-child {
	    margin-right: 0;
	}
	.layout--course{
		.who__icon{
			justify-content: center;
			padding-left: 0;
		}
		.who__info {
		    text-align: center;
		}
		.who__icon:before {
		    left: 50%;
		    transform: translateX(-50%);
		}
	}
	.why__icon{
		justify-content: center;
		padding-left: 0;
	}
	.why__info {
	    text-align: center;
	}
	.why__icon:before {
	    left: 50%;
	    transform: translateX(-50%);
	}
	.what{
	    display: none;
	}
	.training__img{
		display: none;
	}
	.training__img--mobile{
		display: block;
		padding-top: 30px;
	}
	.get-top__number {
	    font-size: 40px;
	    line-height: 48px;
	    width: 96px;
	    height: 96px;
	}
	.get-top__txt {
	    font-size: 14px;
	}
	.get-top__number--plus {
	    text-indent: 0;
	}
	.get-top__number img {
	    max-width: 42px;
	}
	.get-top__item {
	    padding-bottom: 15px;
	}
	.person {
	    // width: 210px;
	    width: 50%;
	    left: 0;
	    transform: none;
	}
	.why-video__person{
		.video-link{
			transform: translate(0, -50%);
			left: 70px;
		}
	}
	.why-video__cite {
	    margin-left: 0;
	    padding: 25px 0 0 10px;
	    font-size: 14px;
	    width: 50%;
	    position: absolute;
	    right: 20px;
	    bottom: 0;
	    background: transparent;
	}
	.why-video__cite:before {
	    width: 47px;
	    height: 39px;
	    background-size: contain;
	        top: 19px;
	}
	.training{
		padding-bottom: 0;
	}
	// .training__img--mobile img {
	//     width: 100%;
	// }
	.get-bonus {
	    padding: 25px 20px 20px;
	}
	.get-top__plus {
	    width: 45px;
	    height: 45px;
	    bottom: -20px;
	    margin-left: -22px;
	}
	.results__item {
	    font-size: 40px;
	    line-height: 40px;
	    margin-bottom: 10px;
	}
	.results__circle {
	    width: 80px;
	    height: 80px;
	    top: 22px;
	}
	.results__icon {
	    top: -13px;
	    height: 52px;
	    line-height: 70px;
	    left: 56px;
	}
	.after__icon {
	    width: 64px;
	    height: 64px;
	    &:before{
		    width: 29px;
		    height: 22px;
		    background-size: contain;
		    top: 18px;
		    left: 16px;
	    }
	}
	.after__txt {
	    font-size: 14px;
	}
	.after__item{
		padding-top: 50px;
	}
	.after h2{
		margin-bottom: 20px;
	}
	.docs-add__title {
    font-size: 18px;}
    .docs-start__item {
	    padding-right: 0;
	    width: 100%;
	}
	.docs-start__list{
		flex-wrap:wrap;
	}
	.docs-add{
		padding-bottom: 0;
	}
	.docs-start__list{
		margin-bottom: 20px;
	}
	.teacher-slider{
		padding: 0 40px;
	}
	// .teacher-slider__links {
	//     bottom: 15px;
	// }
	.teacher-slider .slick-arrow {
	    top: 200px;
	}
	.teacher-slider__item:hover .teacher-slider__in {
	    background: transparent;
	    box-shadow: none;
	}
	.letter {
	    padding: 30px 105px 30px 30px;
	}
	.letter__download:before {
	    width: 100px;
	    height: 100px;
	}
	.timer_section_desc {
	    bottom: -20px;
	    font-size: 14px;
	}
	.timer_item {
	    font-size: 30px;
	    line-height: 40px;
	    min-width: 30px;
	    margin-right: 0;
	}
	.cost-counting__add {
	    font-size: 16px;
	}
	.timer_delimetr {
	    width: 18px;
	    font-size: 18px;
	}
	.course-cabinet-slider .slick-slide > div,
	.course-cabinet-slider-mobile .slick-slide > div{
	    height: 200px;
	}
	.guarantees__img,
	.questions-top__img{
	    height: 95px;
	    padding-left: 20px;
	    margin-bottom: 0;
	   	img{
	   	 	max-height: 100%;
	   	}
	}
	.questions-top__item{
		padding-left: 0;
	}
	.questions-top__img{
		height: 65px;
	    margin-bottom: 20px;
	   	img{
	   	 	max-height: 100%;
	   	}
	}
	.questions-top__txt{
		padding-left: 0;
	}
	.questions-top__img:before{
		left: 0;
		width: 80px;
	    height: 80px;
	    top: 20px;
	}
	.guarantees__img:before,
	.questions-main__num:before{
	    width: 80px;
	    height: 80px;
	    top: 20px;
	}
	.guarantees h2{
		text-align: center;
	}
	.guarantees__title {
	    font-weight: normal;
	}
	.guarantees__item{
		margin-bottom: 20px;
	}
	.questions-main__num {
	    font-size: 50px;
	    line-height: 50px;
	}
	.questions-main__title,
	.questions-main__txt{
		font-size: 14px;
		padding-left: 0;
	}
	.results__top {
	    margin-bottom: 30px;
	}
	.popup {
	    padding: 45px 20px 20px 20px;
	}
	.fancybox-slide--html .fancybox-close-small {
	    right: 20px;
	    top: 20px;
	}
	.layout--index{
		overflow: hidden;
	}
	.methods__item {
	    padding: 30px 25px;
	}

	.offers-add__list.slick-initialized{
		 padding: 0 30px;
		.offers-add__item{
			margin-bottom: 0;
			padding: 0 10px; 
		}
		.offers-add__txt {
		    font-weight: 500;
		    font-size: 16px;
		}
		.offers-add__img:before {
		    width: 90px;
		    height: 90px;
		}
		.slick-arrow{
			margin:0;
		}
	}
	.offers-gen__list.slick-initialized{
		padding: 0 30px; 
		.offers-gen__item{
			margin-bottom: 0;
			padding: 0 10px; 
			    min-height: auto;
		}
		.offers-gen__info {
		    font-weight: 500;
		    font-size: 16px;
		    line-height: 1.2;
		}
		.offers-gen__img:before{
			width: 90px;
			height: 90px;
		}
		.slick-arrow{
			margin:0;
			transform: translateY(-50%);
		}
	}
	.speaker-list__img {
	    height: 310px;
	    background-position: center top;
	}
	.reviews__info{
		width: 100%;
	}
	.more-info .speakers-slider__item {
	    padding-bottom: 40px;
	}
	.more-info .teacher__question:before {
	    top: -8px;
	}
	.speakers-slider__img {
	    height: 350px;
	    background-position: center top;
	}
	.more-info .speakers-slider .slick-arrow {
	    top: 140px;
	}
	.our-benefits-in{
		&.slick-initialized{
			padding: 0 30px;
		}
		.our-benefits__number {
		    font-size: 70px;
		    line-height: 1.2;
		}
	}
	.our-benefits-in.slick-initialized .our-benefits__info{
		padding: 0; 
	}
	.course-top__icon{
		display: none;
	}
	.cert-list.m-horizontal .cert-item {
	    width: 50%;
	}
	.cert-list.m-vertical .cert-item {
	    width: 33.333%;
	}
	
}
@media screen and (max-width: 500px){
	.videolibrary__item:before {
	    width: 110px;
	    height: 110px;
	    top: 10px;
	}
}

@media screen and (max-width: 400px){
	.img-multiple--4 .img-multiple__item {
	    width: 100%;
	}
	.course-docs__img {
	    height: 150px;
	}
	.course-docs__list .slick-arrow {
	    top: 95px;
	}
	.cert-list.m-vertical .cert-item {
	    width: 50%;
	}
}