@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   	body{
   		padding-right: 0!important;
   	}
   	.page-header{
   		padding-right: 0!important;
   	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1350px){
	.slick-next{
		right: 10px;
	}
	.slick-prev{
		left: 10px;
	}
	.about-youtube-slider-wrap{
		margin-left: 20px;
	}
	.about-slider-wrap{
		margin-right: 20px;
	}
	.speaker-img{
		margin-right: 40px;
	}
	.course-cabinet-list{
		margin-right: 20px;
	}
}
@media screen and (max-width: 1300px){
	.page-header__wrap{
		padding-left: 30px;
	}
	.contact__item{
		padding-right: 20px;
	}
	.contact__items{
		margin-right: -20px;
	}
	.about-slider__rev {
	    padding: 20px;
	    font-size: 16px;
	}
	.webinar__top:before {
	    background-size: contain;
	    width: 64px;
	    height: 50px;
	    left: -15px;
	}
	.webinar__top {
	    font-size: 20px;
	}
	.webinar__list{
		margin-right: -20px;
	}
	.webinar__item{
		padding-right: 20px;
	}
	.webinar__list--single,
	.webinar__list--two{
	    max-width: 100%;
	    margin-right: 0;
	}
	.webinar__list--single .webinar__add {
	    margin-left: 30px;
	    padding-left: 50px;
	}
	.webinar__img {
	    width: 100px;
	    min-width: 100px;
	    height: 100px;
	}
	.webinar__list--single .webinar__person {
	    margin-left: 20px;
	}
}

@media screen and (max-width: 1200px){
	.top-nav_link{
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
	}
	.courses-link,
	.office-link{
		padding: 10px;
	}
	.phone-link-toggle{
		width: 42px;
		height: 42px;
	}
	.phone-link-toggle:before {
	    width: 30px;
	    height: 30px;
	    background-size: contain;
	    top: 11px;
	    left: 8px;
	}
	.phone-link-toggle.active:before{
		background-size: contain;
	}
	.phone-list{
		width: 338px;
		padding: 15px 25px 25px 25px;
	}
	.phone-call{
		font-size: 18px;
	}
	.contacts-address__item:first-child {
	    padding-right: 40px;
	}
	.consultation__inner {
	    padding: 30px 110px 30px 20px;
	}
	.consultation__icon {
	    right: 0px;
	    top: -35px;
	    width: 155px;
	}
	.requisites__item {
	    padding-right: 20px;
	}
	.speaker-slider__img {
	    height: 250px;
	}
	.page-header.fixed .office-link, .page-header.fixed .courses-link {
	    padding-top: 10px !important;
	    padding-bottom: 10px !important;
	}
	.page-header.fixed .phone-link-toggle {
	    width: 42px;
	    height: 42px;
	}
	.page-header.fixed .phone-link-toggle:before{
		background-size: contain;
	}
	.page-header.fixed .logo {
	    margin-top: 0;
	    height: 44px;
	}
	.course-nav__link--sign{
		font-size: 16px;
	}
	.course-nav__link {
	    padding: 3px 5px;
	    line-height: 1;
	}
	.theme__img {
	    right: 10px;
	    top: -10px;
	    width: 250px;
	}
	.theme__in {
	    padding: 31px 250px 33px 20px;
	}
}
@media screen and (max-width: 1150px){
	.layout--page .page-top .container-fluid,
	.page-content > .container-fluid{
	    padding: 0 16px;
	}
	.article {
	    padding: 16px;
	    overflow: hidden;
	}
	.img-wrap {
	    margin: 0 0 20px;
	}
	.marketing{
		padding-left: 16px;
		padding-right: 16px;
	}
	.img-wrap figcaption {
	    padding: 10px 0 0;
	}
}
@media screen and (max-width: 1100px){
	.page-header {
	    padding: 20px 0;
	}
	.logo {
	    width: 200px;
	    height: 40px;
	    background-size: contain;
	}
	.contacts__info {
	    padding: 40px 20px 20px 0;
	}
	.contacts {
	    min-height: 535px;
	}
	.page-footer__wrap{
		margin-right: -15px;
	}
	.page-footer__item {
	    padding-right: 15px
	}
	.page-footer__link,
	.show-more-link,
	.all-right,
	.copyright{
		font-size: 14px;
	}
	.page-footer{
		padding: 30px 0;
	}
	.page-footer__logo {
	    margin: 20px 0;
	}
	.page-content {
	    padding: 100px 0 40px;
	}
	.page-top {
	    padding: 110px 0 50px;
	}
	.subscription {
	    padding: 40px 0;
	}
	.subscription__wrap{
		padding: 40px 0;
	}
	.subscription__add {
	    margin: 0px auto 30px;
	    font-size: 18px;
	}
	.latest__img {
	    height: 300px;
	}
	.latest__slider .slick-arrow {
	    top: 110px;
	}
	.promotion{
		margin-bottom: 40px;
	}
	.share{
		padding-top: 15px;
	}
	.conference,
	.webinar,
	.benefits,
	.about,
	.consultation,
	.reviews-top,
	.more-reviews,
	.requisites,
	.who,
	.what,
	.after,
	.course-docs-top,
	.teacher,
	.course-speaker,
	.cost,
	.warranty,
	.results,
	.question,
	.individual,
	.selecting,
	.card,
	.reviews-video,
	.reviews,
	.training,
	.why,
	.course-cabinet,
	.programm{
	    padding: 40px 0;
	}
	.get-top{
		padding: 40px;
	}
	.get-bonus {
	    padding: 40px;
	}
	.docs-add{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.letter {
	    padding: 40px 20px;
	}
	.consultation__inner{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.card-benefits__inner {
	    top: -15px;
	    margin-bottom: 0;
	    padding: 40px 30px;
	}
	.methods__item--corporative {
	    padding: 40px 30px 40px;
	}
	.methods{
		padding-bottom: 40px;
	}
	.methods__item + .methods__accord {
	    margin-top: 40px;
	}
	.speaker-slider {
	    margin-bottom: 40px;
	}
	.contract {
	    padding: 40px 20px;
	}
	.consultation--corp .consultation__inner{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.conference__list {
		margin-bottom: 40px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.conference__item {
	    padding: 65px 40px 40px;
	}
	.benefits__list{
		padding: 0;
	}
	.methods__item--corporative{
		margin-bottom: 40px;
	}
	.course-docs__item{
		margin-top: -20px;
	}
	.docs-start{
		padding-top: 40px;
	}
	.course-docs{
		padding-bottom: 40px;
	}
	.cost-counting{
		margin-bottom: 40px;
	}
	.contact-information{
		margin-left: 40px;
	}
	.contact{
		margin-bottom: 40px;
	}
	.reviews-slider-wrap + .more-reviews {
	    margin-top: 40px;
	    padding-bottom: 0;
	}
	.center-photo{
		padding-bottom: 40px;
	}
	.contacts-address {
	    padding: 0;
	}
	.about-slider-wrap {
	    margin-right: 10px;
	}
	.about-youtube-slider-wrap {
	    margin-left: 10px;
	}
	.about-youtube-slider-wrap,
	.about-slider-wrap{
		padding-bottom: 25px;
	}
	.about-slider__img{
		width: 130px;
		min-width: 130px;
		height: 130px;
	}
	.about-slider__person {
	    width: 180px;
	    margin-right: 10px;
	}
	.about-slider__item {
	    padding-bottom: 35px;
	}
	.theme__in {
	    padding: 40px 250px 40px 20px;
	}
}

@media screen and (max-width: 1023px){
	.top-nav,
	.top-links{
		font-size: 14px;
	}
	.phone-link-toggle{
		height: 39px;
	}
	.phone-link-toggle:before{
		top: 8px;
	}
	.courses-link{
		padding: 8px 8px 9px;
	}
	.phone-list {
	    width: 310px;
	}
	.page-header__wrap {
	    padding-left: 10px;
	}
	.burger-icon{
		margin-left: 10px;
	}
	.page-footer__logo {
	    margin: 20px 0;
	}
	.contact{
		flex-wrap:wrap;
	}
	.contact__items {
	    margin-right: 0;
	    margin-bottom: 20px;
	}
	.contact-information {
	    margin-left: 0;
	    width: 100%;
	}
	.contacts-address__map {
	    height: 300px;
	}
	.center-photo h2 {
	    margin-bottom: 25px;
	}
	.center-photo:before {
	    width: 400px;
	    height: 400px;
	}
	.blockquote-wrap:before {
	    background-size: contain;
	    width: 88px;
	    height: 74px;
	    left: 0;
	}
	.blockquote-wrap {
	    padding: 30px 55px;
	}
	.course-nav__link,
	.course-nav__link--sign {
	    font-size: 14px;
	}
	.marketing__img {
	    width: 450px;
	}
	.webinar__info {
	    width: 100%;
	    min-width: 100%;
	    margin-bottom: 15px;
	}
	.webinar__add {
	    padding-right: 0;
	    flex-wrap: wrap;
	    position: static;
	}
	.webinar__item{
		padding-bottom: 0;
	}
	.webinar__person-wrap {
	    margin-left: 0;
	    flex-wrap: wrap;
	}
	.webinar__list--single .webinar__person {
	    margin-left: 0;
	    min-width: 100%;
	    order: 1;
	    margin-bottom: 15px;
	    border-top: 1px solid #F4F5F5;
    	padding-top: 10px;
	}
	.webinar__list--single{
		.webinar__img{
			order: 2;
		}
	}
	.webinar__list--single .webinar__date, .webinar__list--single .webinar__time {
	    font-size: 16px;
	}
	.webinar__list--single .webinar__date span {
	    font-size: 40px;
	}
	.webinar__list--single .webinar__time-top{
		margin-bottom: 12px;
	}
	.webinar__list--single .webinar__add {
	    margin-left: 20px;
	    padding-left: 20px;
	}
	.webinar__list--single .webinar__top {
	    font-size: 20px;
	}
}

@media screen and (max-width: 900px){
	.top-nav, .top-links {
	    font-size: 12px;
	}
	.phone-link-toggle {
	    height: 37px;
	}
	.phone-link-toggle:before {
	    top: 7px;
	}
	.courses-link {
	    padding: 7px 5px 8px;
	}
	.top-nav_link {
	    margin-right: 10px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.office-link {
	    padding: 10px 6px;
	}
	.logo {
	    width: 175px;
	}
	.about-slider__person {
	    width: 100%;
	    margin-right: 0;
	}
	.about-slider{
		padding-top: 70px;
	}
	.about-slider__item{
		flex-wrap: wrap;
	}
	.about-slider__rev{
		margin-top: 20px;
	}
	.about-slider__arr{
		display: none;
	}
}

@media screen and (max-width: 850px){
	.latest__slider .slick-list {
	    margin: 0 -8px;
	}
	.latest__item{
		padding: 0 8px;
	}
}

@media screen and (max-width: 767px){
	.workarea {
	    line-height: 1.3;
	    h1{
	    	font-size: 40px
	    }
	    h2{
	    	font-size: 32px;
	    }
	    h3{
	    	font-size: 28px;
	    }
	    table{
	    	font-size: 16px;
	    }
	    th{
	    	padding: 4px 10px;
	    }
	    td{
	    	padding: 4px 10px;
	    }
	    blockquote {
		    font-size: 20px;
		    padding-bottom: 10px;
		}
	}
	.page-top .page-title h1,
	.page-title h1{
		font-size: 40px;
	}
	.latest__title h2,
	.subscription h2,
	.contacts__info h2,
	.webinar h2,
	.about h2,
	.individual h2,
	.card h2,
	.card-benefits h2,
	.consultation--corp h2,
	.consultation h2,
	.requisites h2{
		font-size: 32px;
		margin-bottom: 25px;
	}
	.conference h2{
		margin-bottom: 25px;
	}
	.marketing h3{
		font-size: 28px;
	}
	.blockquote-wrap {
	    padding: 10px 20px 10px 15px;
	    margin-bottom: 0;
	}
	.blockquote-wrap:before {
		width: 58px;
		height: 48px;
		left: -5px;
		top: -4px;
	}
	.requisites__item {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.requisites-phones {
	    margin: 20px 0;
	}
	.contacts-address__item{
		width: 100%;
	}
	.contacts-address__item:first-child {
	    padding-right: 0;
	    width: 100%;
	}
	.img-wrap{
		padding-top: 0;
	}
	.contacts {
	    min-height: auto;
	}
	.contacts__info{
		width: 100%;
		padding: 40px 0;
	}
	#contacts-map {
	    position: relative;
	    width: 100%;
	    height: 300px;
	}
	.contacts__howTo,
	.contacts__mail,
	.contacts__add{
		margin-bottom: 20px;
	}
	.contacts__phone{
		margin-bottom: 20px;
		&+.contacts__phone{
			margin-bottom: 20px;
		}
	}
	.contacts__add{
		br{
			display: none;
		}
	}
	.img-multiple{
		margin-right: -8px;
	}
	.img-multiple__item {
	    padding-right: 8px;
	    margin-bottom: 8px;
	}
	.latest {
	    padding-top: 40px;
	}
	.marketing,
	.promotion{
		padding: 40px 16px;
	}
	a.breadcumbs__item:after{
		margin: 0 7px;
	}
	.breadcumbs__wrap{
		font-size: 14px;
	}
	.page-top__add--lg {
	    padding-bottom: 20px;
	}
	.conference__item {
	    padding: 40px;
	}
	.about-wrap {
	    padding-top: 0;
	    flex-wrap: wrap;
	}
	.about-slider-wrap {
	    margin-right: 0;
	    width: 100%;
	}
	.about-youtube-slider-wrap {
	    margin-left: 0;
	    width: 100%;
	}
	.all-reviews,
	.all-youtube-video{
	    position: static;
	}
	.about-youtube-slider-wrap,
	.about-slider-wrap {
	    padding-bottom: 0;
	}
	.webinar__list {
	    margin-right: 0;
	    flex-wrap: wrap;
	}
	.webinar__list--three .webinar__item,
	.webinar__list--two .webinar__item{
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 40px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.webinar__txt {
	    margin-bottom: 15px;
	}
	.webinar__list--single .webinar__item {
	    flex-wrap: wrap;
	}
	.webinar__list--single .webinar__add {
	    margin-left: 0;
	    padding-left: 0;
	    &:before{
	    	display: none;
	    }
	}
	.webinar__list--single .webinar__add {
	    width: 400px;
	    min-width: auto;
	}
	.webinar__info {
	    padding-right: 0;
	    width: auto;
	    min-width: auto;
	}
	.webinar__add {
	    flex-direction: column;
	    max-width: 400px;
	}
	.theme__in {
	    padding: 140px 20px 40px 20px;
	}
	.theme__img {
	    right: 50%;
	    transform: translateX(50%);
	    top: -45px;
	}
}


@media screen and (max-width: 600px){
	.img-multiple--4 .img-multiple__item {
	    width: 50%;
	}
	.share{
		flex-wrap:wrap;
	}
	.share__msg{
		margin-right: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	.webinar__add,
	.webinar__list--single .webinar__add {
	    width: 100%;
	    max-width: 100%;
	}
	.conference__item {
	    padding: 20px;
	}
}
@media screen and (max-width: 400px){
	.img-multiple--4 .img-multiple__item {
	    width: 100%;
	}
}