

/*FONT-FAMILY*/
$default-font: 'Open Sans', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-bg: #fff;
//$default-site-bg: #E5E5E5;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #000;

$alternate-color: #0A9DDC;
